// CABECALHO
.cabecalho {
  padding: 3vw 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.8vw solid $cor-principal;
  @include celular {
    border-bottom: 1.5vw solid #fcc104;
    padding: 5px $container-mobile;
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 1.5vw;
    @include celular {
      gap: 5vw;
    }
    img {
      width: 16vw;
      @include celular {
        width: 120px;
      }
    }
    .menu-compacto {
      position: relative;
      cursor: pointer;
      top: 0.8vw;
      @include celular {
        top: 3.6vw;
      }
      .linha1,
      .linha2,
      .linha3 {
        width: 2vw;
        height: 0.28vw;
        background: $cor-secundaria;
        margin: 0.35vw 0;
        transition: 0.3s;
        position: relative;
        @include celular {
          width: 6vw;
          height: 3px;
          margin: 4px 0;
        }
      }
      span {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 0.7vw;
        opacity: 0;
        transition: 0.3s;
        @include celular {
          position: relative;
          top: -2vw;
          font-size: 0;
        }
      }
    }
    .linha1-efeito {
      top: 0.6vw;
      transform: rotate(-45deg);
      @include celular {
        top: 2.6vw;
      }
    }
    .linha2-efeito {
      opacity: 0;
    }
    .linha3-efeito {
      top: -0.7vw;
      transform: rotate(45deg);
      @include celular {
        top: -1.4vw;
      }
    }
  }
  .content-wrapper {
    display: flex;
    align-items: center;
    gap: 4vw;
    padding: 0;
    @include celular {
      gap: 1vw;
    }
    .busca-wrapper {
      padding: 1vw 2vw;
    }
    .redes-sociais {
      display: flex;
      align-items: center;
      gap: 1.6vw;
      @include celular {
        gap: 1vw;
      }
      img {
        width: 2.4vw;
        @include celular {
          width: 18px;
        }
      }
    }
  }
  .busca {
    @include celular {
      width: 18vw;
      height: 5vw;
      margin: 0;
    }
    img {
      @include celular {
        width: 3vw;
      }
    }
    input {
      @include celular {
        display: none;
      }
    }
  }
}

// MENU ABERTO
.menu-aberto {
  background: $cor-secundaria;
  height: 0%;
  width: 100%;
  position: absolute;
  transition: 0.4s;
  z-index: 999;
  overflow: hidden;
  display: flex;
  align-items: center;
  .itens {
    padding: 0vw 10vw;
    display: flex;
    gap: 2vw;
    @include celular {
      flex-wrap: wrap;
    }
    .links {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 2vw;
      @include celular {
        width: 100%;
      }
      .link-wrapper {
        .link-principal {
          color: #fff;
          font-weight: 400;
          font-size: 1.8vw;
          transition: 0.2s;
          @include celular {
            font-size: 20px;
          }
          &:hover {
            color: $cor-principal;
          }
          img {
            filter: brightness(5);
            width: 1.1vw;
            margin: 0 0 0 0.8vw;
            @include celular {
              width: 2.6vw;
              margin: 0 0 0 1.6vw;
            }
          }
        }
        .link-p-wrapper {
          display: flex;
          flex-wrap: wrap;
          a {
            font-size: 1.1vw;
            color: #fff;
            font-weight: 300;
            margin: 0.4vw 1.2vw 0 0;
            transition: 0.2s;
            @include celular {
              font-size: 14px;
            }
            &:hover {
              color: $cor-principal;
            }
          }
        }
      }
    }
  }
}
.menu-aberto-efeito {
  height: 77%;
  @include celular {
    height: 215vw;
    padding: 4vw 0 6vw 0;
  }
}

// BUSCA ABERTO
.busca-aberto {
  background: #fcc104;
  height: 0%;
  width: 100%;
  position: absolute;
  transition: 0.4s;
  z-index: 999;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 10vw;
  z-index: 99;
  .fechar-busca {
    position: absolute;
    right: 10vw;
    top: 2vw;
    cursor: pointer;
    img {
      width: 2vw;
      transition: 0.5s;
      @include celular {
        width: 4vw;
      }
      &:hover {
        transform: rotate(180deg);
      }
    }
  }
  .busca-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 0.1vw solid darken($cor-secundaria, 5%);
    img {
      @include celular {
        width: 16px;
      }
    }
    input {
      border: 0;
      background: transparent;
      padding: 1vw 2vw;
      width: 100%;
      color: $cor-secundaria;
      outline: 0;
      @include celular {
        font-size: 12px;
      }
      &::placeholder {
        text-transform: uppercase;
        color: $cor-secundaria;
      }
    }
  }
  .sugestoes {
    width: 100%;
    .item {
      padding: 2vw 1vw;
      display: flex;
      justify-content: space-between;
      border-bottom: 0.1vw solid $cor-secundaria;
      @include celular {
        padding: 4vw 1vw;
      }
      .nome,
      .area {
        color: $cor-secundaria;
        @include celular {
          font-size: 12px;
        }
      }
    }
  }
}
.busca-aberto-efeito {
  height: 77%;
  padding: 4vw 10vw 8vw 10vw;
  @include celular {
    height: 50%;
    padding: 8vw 10vw 8vw 10vw;
  }
}

// NAVEGACAO
.navegacao {
  padding: 2vw 10vw;
  background: $cor-secundaria;
  @include celular {
    padding: 2vw $container-mobile;
  }
  .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    .link {
      color: #fff;
      font-size: 1.1vw;
      transition: 0.2s;
      @include celular {
        white-space: nowrap;
        font-size: 15px;
      }
      &:hover {
        color: #f2e7c3;
      }
      + .link {
        @include celular {
          margin: 0 0 0 15px;
        }
      }
    }
    .destaque {
      color: #f2e7c3;
    }
  }
}
