* {
  &::selection {
    background: $cor-principal;
    color: #fff;
  }
  img {
    &::selection {
      background: transparent;
    }
  }
}
html {
  overflow-x: hidden;
  ::-webkit-scrollbar-track {
    background-color: #fdfdfd;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: $cor-principal;
  }
}

body {
  overflow-x: hidden;
  font-family: $texto;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
figure {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none !important;
  color: inherit;
  &:hover {
    color: inherit;
  }
}
button {
  outline: 0;
  cursor: pointer;
}

.area-botao {
  text-align: center;
  margin: 4vw auto 0 auto;
  @include celular {
    margin: 50px auto 0 auto;
  }
}

.botao {
  cursor: pointer;
  transition: 0.3s;
  font-size: 1rem;
  outline: none !important;
  padding: 1vw 2vw;
  border-radius: 50vw;
  font-weight: 300;
  border: none;
  @include celular {
    font-size: 14px;
    padding: 12px 34px;
  }
}

.botao-principal {
  background: transparent;
  color: $cor-secundaria;
  border: 0.2vw solid $cor-secundaria;
}

.botao-secundario {
  background: transparent;
  color: #000;
  border: 1px solid #000;
  border-radius: 50px;
  &:hover {
    color: #fff;
    background: #000;
  }
}

.busca {
  display: flex;
  align-items: center;
  border: 0.14vw solid $cor-secundaria;
  padding: 0.5vw 1.6vw;
  border-radius: 50vw;
  width: 11vw;
  background: #fff;
  img {
    width: 1.4vw;
  }
  input {
    padding: 0 0 0 0.8vw;
    border: none;
    outline: 0;
    font-size: 1.1vw;
    width: 100%;
    color: $cor-secundaria;
  }
}

.form-select {
  border: 0.2vw solid $cor-secundaria;
  padding: 1vw 6vw 1vw 1vw;
  width: auto;
  border-radius: 0;
  font-weight: 300;
  @include celular {
    padding: 1vw 8vw 1vw 4vw;
    font-size: 12px;
  }
  &:focus {
    outline: 0;
    box-shadow: none;
    border-color: inherit;
  }
}

#area-clique-busca {
  .btn-busca {
    border: 0.2vw solid $cor-secundaria;
    background: transparent;
    padding: 0.4vw 1.4vw;
    border-radius: 40vw;
    color: $cor-secundaria;
    display: flex;
    align-items: center;
    cursor: text;
    @include celular {
      border: none;
      padding: 0;
    }
    img {
      width: 1.3vw;
      @include celular {
        width: 18px;
        margin: 1vw 0 0 0;
      }
    }
    span {
      margin: 0 0 0 0.8vw;
      font-size: 1.1vw;
      @include celular {
        display: none;
      }
    }
  }
}

// COMPARTILHAMENTO
.compartilhamento-wrapper {
  padding: 0.8vw 1vw;
  margin: 4vw 0 0 0;
  border-top: 0.1vw solid #fff;
  border-bottom: 0.1vw solid #fff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @include celular {
    padding: 2vw 1vw;
    margin: 20px 0 30px 0;
  }
  .info {
    .num-compartilhamentos {
      font-size: 2vw;
      font-weight: 400;
      line-height: 100%;
      @include celular {
        font-size: 25px;
      }
    }
    .texto {
      font-size: 1vw;
      font-weight: 300;
      @include celular {
        font-size: 12px;
      }
    }
  }
  .actions {
    display: flex;
    align-items: center;
    .botao {
      border-left: 0.1vw solid #fff;
      border-radius: 0;
      padding: 0.4vw 4vw 0.4vw 3vw;
      @include celular {
        font-size: 12px;
      }
    }
    .redes-sociais {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      @include celular {
        gap: 1vw;
      }
      img {
        @include celular {
          width: 20px;
        }
      }
    }
  }
}

.visivel {
  opacity: 1 !important;
}

// CAROUSEL
.splide {
  .splide__arrows {
    .splide__arrow {
      top: -1.4vw;
      background: transparent;
      border: 0.1vw solid $cor-secundaria;
      border-radius: 0;
      @include celular {
        width: 5vw;
        height: 5vw;
      }
      svg {
        width: 1vw;
        @include celular {
          width: 2vw;
        }
      }
    }
    .splide__arrow--prev {
      right: 4vw !important;
      left: auto;
      @include celular {
        right: 8vw !important;
      }
    }
    .splide__arrow--next {
      @include celular {
        right: 1vw !important;
      }
    }
  }
  .splide__track {
    @include celular {
      overflow: visible;
    }
    .itens {
      .item {
        a {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
        }
      }
    }
  }
  .splide__pagination {
    display: none;
  }
  .itens {
    margin: 2vw 0 0 0 !important;
    .item {
      border: none;
      .imagem {
        margin: 0 1vw 0 0;
        img {
          width: 6vw;
          height: 6vw;
          border-radius: 100%;
        }
      }
      .info {
        width: 60%;
        .nome {
          color: $cor-secundaria;
          font-size: 0.9vw;
          margin: 0 0 0.6vw 0;
          font-weight: 600;
        }
        .texto {
          font-size: 1.4vw;
          font-weight: 300;
          line-height: 120%;
          color: $cor-secundaria;
        }
      }
    }
  }
}

// TOPICOS
.topicos {
  border-top: 0.1vw solid #a8a1b3;
  border-bottom: 0.1vw solid #a8a1b3;
  margin: 50px 0;
  padding: 2vw 1vw;
  color: $cor-secundaria;
  font-weight: 300;
  display: flex;
  align-items: flex-start;
  gap: 1vw;
  @include celular {
    gap: 3vw;
    padding: 35px 1vw;
  }
  div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1vw;
    @include celular {
      gap: 3vw;
    }
    p {
      @include celular {
        font-size: 16px;
      }
    }
  }
  a {
    color: #6598c0;
    border: 0.1vw solid #6598c0;
    font-size: 1vw;
    padding: 6px 12px;
    border-radius: 10vw;
    @include celular {
      font-size: 14px;
    }
  }
}

// ESTILOS GERAIS
.header {
  .titulo {
    font-size: 2.2vw;
    font-weight: 600;
    font-family: $titulo;
    @include celular {
      font-size: 4vw;
    }
  }
}

.destaque-lateral {
  width: 35%;
  background: linear-gradient(to right, #fff 42%, #f2f2f2 42%);
  padding: 2vw 2vw 2vw 0;
  @include celular {
    width: 100%;
    padding: 6vw $container-mobile;
    background: #f2f2f2;
  }
  .titulo {
    @include titulo-secundario;
  }
  .itens-p {
    .item {
      display: flex;
      align-items: center;
      background: #fff;
      overflow: hidden;
      margin: 16px 0 0 0;
      padding: 0.4vw 0;
      @include celular {
        padding: 0;
      }
      img {
        width: 130px;
        height: 72px;
        object-fit: cover;
      }
      .info {
        padding: 0 8px;
        @include celular {
          width: 50%;
        }
        .titulo {
          text-transform: uppercase;
          font-size: 12px;
          font-family: $texto;
        }
        .texto {
          font-size: 14px;
          color: $cor-secundaria;
          font-weight: 400;
          line-height: 120%;
          margin: 0.3vw 0 0 0;
        }
      }
    }
  }
}
