// MIXINS
@mixin area {
  text-transform: uppercase;
  color: #787480;
  font-size: 12px;
  margin: 0 0 0.4vw 0;
  font-weight: 600;
}
@mixin titulo-article {
  color: $cor-secundaria;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 130%;
  max-width: 80%;
  @include celular {
    max-width: 100%;
  }
}
@mixin titulo-principal {
  font-size: 48px;
  color: $cor-secundaria;
  font-weight: 600;
  font-family: $titulo;
  @include celular {
    font-size: 32px;
  }
}
@mixin titulo-secundario {
  font-size: 32px;
  color: $cor-secundaria;
  font-weight: 600;
  font-family: $titulo;
}
@mixin texto-itens {
  color: $cor-secundaria;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  margin: 1vw 0 0 0;
  @include celular {
    font-size: 14px;
  }
}
@mixin ver-todos {
  a {
    @include celular {
      display: flex;
      align-items: center;
    }
  }
  span {
    color: $cor-secundaria;
    font-size: 20px;
    @include celular {
      font-size: 12px;
    }
  }
  img {
    width: 23px;
    margin: 0 0 0 0.4vw;
    @include celular {
      width: 10px;
      margin: 0 0 0 1.5vw;
    }
  }
}

// VARIAVEIS
$container-mobile: 24px;

// FONTS
$titulo: 'Roboto Slab', serif;
$texto: 'Inter', sans-serif;
