// PAGE HOME
.page-home {
  .type1-wrapper {
    background: linear-gradient(to bottom, #c2b0ad 19.38vw, transparent 0%);
    @include celular {
      background: linear-gradient(to bottom, #c2b0ad 54.7vw, transparent 0%);
    }
  }
  .type6-wrapper {
    margin: 0;
    padding: 0 10vw;
    background: linear-gradient(to bottom, #f2f2f2 50%, #5b5758 50%);
    @include celular {
      background: transparent;
      padding: 50px $container-mobile;
    }
    .itens {
      background: #fff;
      padding: 3vw 2.4vw;
      @include celular {
        padding: 3vw 0;
      }
    }
  }
  .videos2-wrapper {
    margin: 0;
    .ver-todos {
      a {
        display: flex;
        figure {
          img {
            width: 18px;
          }
        }
      }
    }
  }
}
