// PAGE CATEGORIA
.page-categoria {
  .header {
    .titulo {
      @include titulo-principal;
    }
  }
  .type3-wrapper {
    background: transparent;
    .header {
      padding: 6vw 10vw 0 10vw;
      color: $cor-secundaria;
      @include celular {
        padding: 6vw $container-mobile 0 $container-mobile;
      }
    }
    .itens {
      padding: 0 10vw;
      margin: 4vw 0 0 0;
      background: linear-gradient(to bottom, #c2b0ad 68.5%, transparent 0%);
      @include desktop {
        flex-direction: column;
        background: linear-gradient(to bottom, #c2b0ad 35.5%, transparent 0%);
      }
      @include celular {
        padding: 6vw $container-mobile 0 $container-mobile;
        background: linear-gradient(to bottom, #c2b0ad 54.7vw, transparent 0%);
      }
      .item {
        width: 50%;
        @include celular {
          width: 100%;
        }
        img {
          height: 20vw;
          @include celular {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
  .type2-wrapper {
    margin: 4vw 10vw 0 10vw;
    align-items: flex-start;
    @include celular {
      margin: 4vw 0 0 0;
    }
  }
  .type6-wrapper {
    background: #f2e7c3;
    padding: 5vw 0 4vw 0;
  }
  .type3a-wrapper {
    @include celular {
      background: transparent;
    }
  }
}
