// PAGE DOENCAS E SINTOMAS
.page-doencas-sintomas {
  .header {
    padding: 3vw 10vw 0 10vw;
    @include celular {
      padding: 20px $container-mobile;
    }
    .titulo {
      @include titulo-principal;
    }
  }
  .barra-busca {
    padding: 2vw $container-mobile;
    margin: 3.5vw 0 0 0;
    background: #f2f2f2;
    @include celular {
      margin: 0;
    }
    .busca {
      width: 100%;
      border: none;
      border-radius: 0.2vw;
      padding: 1.2vw 2vw;
      @include celular {
        padding: 1.2vw 4vw;
      }
      img {
        @include celular {
          width: 20px;
        }
      }
      input {
        @include celular {
          font-size: 18px;
          padding: 1vw 0 0 1.8vw;
        }
        &::placeholder {
          text-transform: uppercase !important;
        }
      }
    }
  }
  .type3-wrapper {
    background: transparent;
    .header {
      padding: 6vw 10vw 0 10vw;
      color: $cor-secundaria;
    }
    .itens {
      background: linear-gradient(to bottom, #c2b0ad 23.95vw, transparent 0%);
      @include desktop {
        flex-direction: column;
        background: linear-gradient(to bottom, #c2b0ad 55vw, transparent 0%);
      }
      .item {
        width: 50%;
        @include celular {
          width: 100%;
        }
        img {
          height: 20vw;
          @include celular {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
  .type2-wrapper {
    margin: 4vw 10vw 0 10vw;
    align-items: flex-start;
    @include celular {
      margin: 4vw 0 0 0;
    }
  }
  .type6-wrapper {
    background: #f2e7c3;
    padding: 5vw 0 4vw 0;
  }
  .type3a-wrapper {
    @include celular {
      background: transparent;
    }
  }
}
