// PAGE COLUNISTAS
.page-colunistas {
  .type8-wrapper {
    margin: 3vw 0 0 0;
  }
  .type5-wrapper {
    margin: 4vw 0 0 0;
    @include celular {
      margin: 30px 0 0 0;
    }
    .itens {
      .item {
        @include celular {
          width: 100%;
          a {
            @include celular {
              display: flex;
              gap: 2vw;
            }
            img {
              @include celular {
                width: 50%;
              }
            }
            .info {
              @include celular {
                width: 50%;
              }
            }
          }
        }
      }
    }
  }
}
