// PAGE VIDEOS
.page-videos {
  .type3-wrapper {
    background: transparent;
    .itens {
      .item {
        width: 50%;
        @include celular {
          width: 100%;
        }
        img {
          height: 20vw;
          @include celular {
            height: auto;
          }
        }
      }
    }
  }
  .type5-wrapper {
    .itens {
      .item {
        @include celular {
          width: 100%;
          a {
            @include celular {
              display: flex;
              gap: 2vw;
            }
            img {
              @include celular {
                width: 50%;
              }
            }
            .info {
              @include celular {
                width: 50%;
              }
            }
          }
        }
      }
    }
  }
  .type7-wrapper {
    padding: 6vw 10vw 0 10vw;
    @include celular {
      margin: 6vw 0;
    }
    .header {
      .titulo {
        @include celular {
          font-size: 5vw;
        }
      }
    }
  }
}
