// PAGE INTENRA POST
.page-interna-post {
  // CONTEUDO
  .content-wrapper {
    padding: 6vw 10vw;
    display: flex;
    gap: 2vw;
    @include celular {
      flex-direction: column;
      padding: 6vw $container-mobile;
    }
    // LEFT WRAPPER
    .left-wrapper {
      width: 70%;
      @include celular {
        width: 100%;
      }
      .titulo-header {
        margin: 0 0 2vw 0;
        .titulo {
          font-size: 2.2vw;
          color: $cor-secundaria;
          font-weight: 600;
          text-transform: uppercase;
          @include celular {
            font-size: 29px;
          }
        }
      }
      .texto-header {
        margin: 0 0 1.5vw 0;
        .texto {
          color: $cor-secundaria;
          font-size: 1.1vw;
          font-weight: 600;
          font-family: $titulo;
          line-height: 180%;
          @include celular {
            font-size: 18px;
          }
        }
      }
      .autor {
        display: flex;
        align-items: center;
        img {
          width: 2.5vw;
          height: 2.5vw;
          margin: 0 1vw 0 0;
          @include celular {
            width: 10vw;
            height: 10vw;
            margin: 2vw 2vw 2vw 0;
          }
        }
        .nome {
          font-size: 1vw;
          font-weight: 300;
          @include celular {
            font-size: 14px;
          }
        }
      }
      // VIDEOS 1 WRAPPER
      .videos1-wrapper {
        padding: 0;
        background: transparent;
        margin: 2vw 0 0 0;
        @include celular {
          margin: 50px 0 0 0;
        }
        .itens {
          margin: 0;
          .wrapper {
            width: 100%;
            img {
              width: 100%;
            }
          }
        }
        .compartilhamento-wrapper {
          width: 100%;
          border-color: $cor-secundaria;
          color: $cor-secundaria;
          .actions {
            .botao {
              border-color: $cor-secundaria;
            }
          }
        }
      }
      .texto-conteudo {
        margin: 4vw 0 0 0;
        font-size: 1.1vw;
        color: $cor-secundaria;
        font-family: $titulo;
        font-weight: 400;
        line-height: 180%;
        @include celular {
          font-size: 18px;
        }
      }
    }

    // RIGHT WRAPPER
    .right-wrapper {
      width: 30%;
      @include celular {
        width: 100%;
      }
      .destaque-lateral {
        width: 100%;
        background: transparent;
        @include celular {
          padding: 6vw 0;
        }
        .itens-p {
          .item {
            .info {
              width: 60%;
            }
          }
        }
      }
    }
  }
  .topicos {
  }
}
