// RODAPE
.rodape {
  padding: 4vw 10vw;
  margin: 10vw 0 0 0;
  background: $cor-secundaria;
  @include celular {
    padding: 30px $container-mobile;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      width: 12vw;
      @include celular {
        width: 126px;
      }
    }
    .redes-sociais {
      display: flex;
      align-items: center;
      gap: 2vw;
      @include celular {
        gap: 2vw;
      }
      img {
        @include celular {
          width: 20px;
        }
      }
    }
  }
  // BUSCA
  .busca {
    background: #fff;
    margin: 2vw 0 0 0;
    border-radius: 0;
    width: 100%;
    padding: 1.2vw 2vw;
    @include celular {
      padding: 1.4vw 4vw;
      margin: 4vw 0;
    }
    img {
      @include celular {
        width: 20px;
        margin: 0 0 1vw 0;
      }
    }
    input {
      @include celular {
        font-size: 18px;
        margin: 0 0 0 1vw;
      }
    }
  }
  // NAVEGACAO
  .navegacao {
    padding: 0;
    background: $cor-secundaria;
    border: none;
    @include celular {
      padding: 15px 0;
    }
    .links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 0 6vw;
      @include celular {
        display: flex;
        justify-content: flex-start;
        gap: 0 3vw;
      }
      .link {
        color: #fff;
        font-size: 1.6vw;
        margin: 1vw 0 0 0;
        @include celular {
          font-size: 18px;
        }
      }
      .destaque {
        color: #f2e7c3;
      }
    }
  }
  // COPY
  .copy {
    margin: 4vw 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .info {
      a {
        color: #fff;
        font-weight: 300;
        @include celular {
          font-size: 12px;
        }
        + a {
          margin: 0 0 0 4vw;
        }
      }
    }
    .assinatura {
      img {
        width: 6vw;
        @include celular {
          width: 50px;
        }
      }
    }
  }
}
