// TYPE 11 WRAPPER
.type11-wrapper {
  margin: 6vw 0 0 0;
  @include celular {
    margin: 50px 0;
  }
  .itens {
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2vw;
    flex-wrap: wrap;
    @include celular {
      padding: 0 $container-mobile;
      flex-direction: column;
      gap: 4vw;
    }
    .item {
      width: 48%;
      display: flex;
      gap: 2vw;
      @include celular {
        width: 100%;
        gap: 6vw;
      }
      + .item {
        @include celular {
          margin: 15px 0 0 0;
        }
      }
      img {
        width: 100%;
        height: 10vw;
        object-fit: cover;
        @include celular {
          width: 50%;
          height: 87px;
        }
      }
      .info {
        max-width: 45%;
        @include celular {
          max-width: 50%;
        }
        .area {
          @include area;
          color: $cor-secundaria;
        }
        .texto {
          @include texto-itens;
        }
      }
    }
  }
}
