// TYPE 3 WRAPPER
.type3-wrapper {
  background: linear-gradient(to bottom, #f2e7c3 59.5%, transparent 0%);
  @include celular {
    background: linear-gradient(to bottom, #f2e7c3 54.7vw, transparent 0%);
  }
  .itens {
    padding: 6vw 10vw 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2vw;
    @include desktop {
      flex-direction: column;
      padding: 6vw $container-mobile 0 $container-mobile;
      gap: 4vw;
    }
    .item {
      width: 33%;
      @include celular {
        width: 100%;
      }
      + .item {
        @include celular {
          margin: 40px 0 0 0;
        }
      }
      img {
        width: 100%;
        @include celular {
          width: 100%;
        }
      }
      .info {
        padding: 1.4vw;
        max-width: 100%;
        border-top: 0.6vw solid $cor-principal;
        @include celular {
          border-width: 1.5vw;
        }
        .area {
          @include area;
        }
        .titulo {
          @include titulo-article;
        }
      }
    }
  }
}
