// TYPE 9 WRAPPER
.type9-wrapper {
  padding: 6vw 10vw;
  background: #d0e1e4;
  margin: 6vw 0 0 0;
  @include celular {
    padding: 6vw $container-mobile;
  }
  .header {
    display: flex;
    align-items: center;
    .titulo {
      @include titulo-secundario;
    }
  }
  // CAROUSEL
  .splide {
    @include celular {
      margin: 6vw 0 0 0;
    }
    .splide__arrow {
      @include celular {
        top: -8.5vw;
      }
    }
    .itens {
      .item {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        background: transparent;
        border: none;
        .imagem {
          img {
            width: 92px;
            height: 92px;
          }
        }
        .info {
          margin: 1vw 0 0 0;
          @include celular {
            margin: 1vw 0 0 15px;
          }
          .nome {
            font-size: 12px;
          }
          .texto {
            font-size: 20px;
            @include celular {
              font-size: 14px;
              width: 75%;
              margin: 8px 0 0 0;
            }
          }
        }
      }
    }
  }
}
