// TYPE 1 WRAPPER
.type1-wrapper {
  padding: 4vw 10vw 0 10vw;
  @include celular {
    padding: 6vw $container-mobile 0 $container-mobile;
  }
  .itens {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2vw;
    @include desktop {
      flex-direction: column;
      gap: 4vw;
    }
    .item {
      width: 65%;
      @include celular {
        width: 100%;
      }
      + .item {
        @include celular {
          margin: 40px 0 0 0;
        }
      }
      &:nth-child(2) {
        width: 35%;
        @include celular {
          width: 100%;
        }
        .info {
          padding: 1.4vw 1vw;
          max-width: 100%;
        }
      }
      img {
        width: 100%;
      }
      .info {
        padding: 1.4vw;
        max-width: 100%;
        border-top: 0.6vw solid $cor-principal;
        @include celular {
          border-width: 1.5vw;
        }
        .area {
          @include area;
        }
        .titulo {
          @include titulo-article;
        }
      }
    }
  }
}
