// TYPE 8 WRAPPER
.type8-wrapper {
  padding: 6vw 10vw;
  @include celular {
    padding: 6vw $container-mobile;
  }
  .header {
    display: flex;
    align-items: center;
    .titulo {
      @include titulo-secundario;
    }
  }
  .itens {
    margin: 4vw 0 0 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include celular {
      flex-direction: column;
    }
    .item {
      display: flex;
      align-items: flex-start;
      width: 50%;
      @include celular {
        flex-direction: column;
        width: 100%;
        margin: 20px 0 0 0;
      }
      img {
        width: 6vw;
        height: 6vw;
        border-radius: 100%;
        object-fit: cover;
        @include celular {
          width: 77px;
          height: 77px;
        }
      }
      .info {
        margin: 0 0 0 2.4vw;
        @include celular {
          margin: 24px 0 0 0;
        }
        .titulo {
          font-size: 1.8vw;
          color: $cor-secundaria;
          font-weight: 600;
          margin: 0 0 0.8vw 0;
          @include celular {
            font-size: 22px;
          }
        }
        .texto {
          color: $cor-secundaria;
          font-weight: 300;
          font-size: 1.2vw;
          @include celular {
            font-size: 16px;
          }
        }
      }
    }
    .mais-item {
      @include celular {
        margin: 3vw 0 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
      .titulo {
        font-size: 1.8vw;
        color: $cor-secundaria;
        font-weight: 600;
        font-family: $titulo;
        margin: 0 0 0.8vw 0;
        @include celular {
          font-size: 20px;
        }
      }
    }
  }
}
