// TYPE 7 WRAPPER
.type7-wrapper {
  padding: 6vw 10vw 0 10vw;
  @include celular {
    padding: 6vw $container-mobile 0 $container-mobile;
  }
  .header {
    display: flex;
    align-items: center;
    @include celular {
      justify-content: space-between;
    }
    .titulo {
      font-size: 2vw;
      color: $cor-secundaria;
      font-weight: 600;
      font-family: $titulo;
      @include celular {
        font-size: 20px;
      }
    }
    select {
      margin: 0 0 0 6vw;
    }
  }
}
