// TYPE 5 WRAPPER
.type5-wrapper {
  margin: 6vw 0 0 0;
  .itens {
    padding: 0 10vw 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2vw;
    flex-wrap: wrap;
    @include celular {
      padding: 0 $container-mobile;
    }
    .item {
      width: 23%;
      @include celular {
        width: 48%;
      }
      img {
        width: 100%;
        height: 14vw;
        object-fit: cover;
        @include celular {
          height: auto;
        }
      }
      .info {
        padding: 1vw 0;
        max-width: 90%;
        .texto {
          color: $cor-secundaria;
          font-weight: 300;
          font-size: 1.2vw;
          line-height: 130%;
          @include celular {
            font-size: 15px;
          }
        }
      }
    }
  }
}
