// TYPE 4 WRAPPER
.type4-wrapper {
  margin: 6vw 0 0 0;
  .itens {
    padding: 0 10vw 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2vw;
    .item {
      width: 33%;
      img {
        border-bottom: 0.6vw solid $cor-principal;
        width: 100%;
        height: 15vw;
        object-fit: cover;
      }
      .info {
        padding: 1.4vw;
        max-width: 90%;
        .area {
          text-transform: uppercase;
          color: #787480;
          font-size: 0.8vw;
          margin: 0 0 0.4vw 0;
          font-weight: 600;
        }
        .titulo {
          color: $cor-secundaria;
          font-weight: 300;
          text-transform: uppercase;
          font-size: 1.5vw;
          line-height: 130%;
        }
      }
    }
  }
}
