// TYPE 6 WRAPPER
.type6-wrapper {
  margin: 6vw 0 0 0;
  .itens {
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2vw;
    @include celular {
      flex-wrap: wrap;
    }
    .item {
      width: 25%;
      @include celular {
        width: 46%;
      }
      img {
        width: 100%;
        height: 10vw;
        object-fit: cover;
        @include celular {
          height: 120px;
        }
      }
      .info {
        padding: 5px 0;
        max-width: 90%;
        @include celular {
          max-width: 100%;
        }
        .texto {
          color: $cor-secundaria;
          font-weight: 400;
          font-size: 20px;
          line-height: 130%;
          @include celular {
            font-size: 15px;
          }
        }
      }
    }
  }
}
