// TYPE 11a WRAPPER
.type11a-wrapper {
  margin: 6vw 0 0 0;
  .itens {
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2vw;
    flex-wrap: wrap;
    width: 60%;
    @include celular {
      padding: 0 $container-mobile;
      flex-direction: column;
      gap: 4vw;
      width: 100%;
    }
    .item {
      width: 100%;
      display: flex;
      gap: 2vw;
      img {
        width: 50%;
        height: 10vw;
        object-fit: cover;
        @include celular {
          width: 41%;
          height: 15vw;
        }
      }
      .info {
        max-width: 38%;
        .area {
          text-transform: uppercase;
          color: #787480;
          font-size: 0.8vw;
          margin: 0 0 1vw 0;
          font-weight: 600;
          @include celular {
            font-size: 2vw;
          }
        }
        .texto {
          color: $cor-secundaria;
          font-weight: 300;
          font-size: 1.2vw;
          line-height: 130%;
          @include celular {
            font-size: 2.2vw;
          }
        }
      }
    }
  }
}
