// TYPE 10 WRAPPER
.type10-wrapper {
  padding: 6vw 10vw;
  background: #f2f2f2;
  margin: 6vw 0 0 0;
  @include celular {
    padding: 50px $container-mobile;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 9vw 0 0;
    @include celular {
      margin: 0 18vw 0 0;
      align-items: flex-end;
    }
    .titulo {
      @include titulo-principal;
    }
    .ver-todos {
      @include ver-todos;
      a {
        display: flex;
        align-items: center;
        img {
          width: 18px;
        }
      }
    }
  }
  // CAROUSEL
  .splide {
    .splide__arrow {
      @include celular {
        top: -4.5vw;
      }
    }
    .itens {
      .item {
        background: #f2f2f2;
        @include celular {
          margin: 2vw 2vw 0 2vw;
        }
        .imagem {
          img {
            width: 100%;
            height: 19vw;
            border-radius: 0;
            @include celular {
              height: auto;
            }
          }
        }
        .info {
          width: 100%;
          @include celular {
            width: 60%;
            margin: 2vw 0 0 0;
          }
          .texto {
            margin: 1vw 0 0 0;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 24px;
            @include celular {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
