// TYPE 3 WRAPPER
.type3a-wrapper {
  @include celular {
    background: linear-gradient(to bottom, #f2e7c3 27.5%, transparent 0%);
  }
  .itens {
    padding: 6vw 10vw 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2vw;
    @include desktop {
      padding: 6vw 10vw 0 10vw;
    }
    @include celular {
      padding: 6vw $container-mobile 0 $container-mobile;
    }
    .item {
      width: 33%;
      @include celular {
        width: 100%;
        margin: 30px 0 0 0;
      }
      img {
        width: 100%;
        height: 15vw;
        object-fit: cover;
        @include celular {
          width: 100%;
          height: auto;
        }
      }
      .info {
        padding: 1.4vw;
        max-width: 100%;
        border-top: 0.6vw solid $cor-principal;
        @include celular {
          border-width: 1.5vw;
        }
        .area {
          @include area;
        }
        .titulo {
          @include titulo-article;
        }
      }
    }
  }
}
