// TYPE 2 WRAPPER
.type2-wrapper {
  margin: -8vw 10vw 0 10vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2vw;
  @include celular {
    flex-direction: column;
    margin: 0;
  }
  .itens {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    width: 65%;
    @include desktop {
      flex-direction: column;
      gap: 4vw;
      @include celular {
        padding: 6vw $container-mobile 0 $container-mobile;
      }
    }
    @include celular {
      width: 100%;
    }
    .item {
      width: 50%;
      @include celular {
        width: 100%;
        margin: 40px 0 0 0;
      }
      img {
        width: 100%;
      }
      .info {
        padding: 1.4vw 1vw;
        max-width: 100%;
        border-top: 0.6vw solid $cor-principal;
        @include celular {
          border-width: 1.5vw;
        }
        .area {
          @include area;
        }
        .titulo {
          @include titulo-article;
        }
      }
    }
  }
}
