// UOL WRAPPER
.uol-wrapper {
  background: #262626;
  padding: 0.6vw 8vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include celular {
    justify-content: center;
    padding: 1.4vw $container-mobile;
  }
  .links {
    display: flex;
    align-items: center;
    gap: 1.6vw;
    .link {
      color: #fff;
      text-transform: uppercase;
      font-size: 0.9vw;
      @include celular {
        display: none;
      }
    }
  }
  .logo-uol {
    img {
      width: 5vw;
      @include celular {
        width: 20vw;
      }
    }
  }
  .actions {
    display: flex;
    gap: 2vw;
    @include celular {
      display: none;
    }
    a {
      color: #fff;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      gap: 0.3vw;
      font-size: 0.9vw;
      img {
        width: 1vw;
      }
    }
  }
}
