.page-videos-interna {
  // videos 1 WRAPPER
  .videos1-wrapper {
    padding: 6vw 10vw;
    margin: 6vw 0 0 0;
    background: $cor-secundaria;
    @include celular {
      padding: 6vw $container-mobile;
    }
    .header {
      .titulo {
        @include titulo-principal;
        color: $cor-principal;
      }
    }
    .itens {
      display: flex;
      gap: 2vw;
      margin: 3vw 0 0 0;
      @include celular {
        flex-direction: column;
      }
      .item {
        &:first-child {
          width: 70%;
        }
        &:nth-child(2) {
          width: 30%;
        }
        @include celular {
          width: 100% !important;
        }
        .wrapper {
          position: relative;
          height: max-content;
          img {
            width: 100%;
          }
          .info {
            width: 100%;
            position: absolute;
            bottom: 0;
            padding: 2vw 3vw;
            background: linear-gradient(to top, $cor-secundaria, transparent);
            .area {
              @include area;
              color: #fff;
            }
            .titulo {
              color: #fff;
              text-transform: uppercase;
              font-weight: 300;
              font-size: 1.4vw;
              @include celular {
                font-size: 16px;
              }
            }
          }
        }
        // NEW WRAPPER
        .new-wrapper {
          margin: 3vw 0 0 0;
          .header {
            .titulo {
              font-size: 2vw;
              color: #fff;
              font-weight: 400;
              font-family: $texto;
              text-transform: uppercase;
              @include celular {
                font-size: 18px;
              }
            }
          }
          .body {
            .texto {
              color: #fff;
              font-weight: 400;
              margin: 1.5vw 0 0 0;
              @include celular {
                font-size: 16px;
              }
            }
          }
        }
        .destaque-lateral {
          padding: 0;
          background: transparent;
          width: 100%;
          .titulo {
            color: #fff;
          }
          .itens-p {
            .item {
              background: transparent;
              .texto {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
  .type5-wrapper {
    .itens {
      .item {
        @include celular {
          width: 100%;
          a {
            @include celular {
              display: flex;
              gap: 2vw;
            }
            img {
              @include celular {
                width: 50%;
              }
            }
            .info {
              @include celular {
                width: 50%;
              }
            }
          }
        }
      }
    }
  }
}
