// videos 2 WRAPPER
.videos2-wrapper {
  padding: 6vw 10vw;
  margin: 6vw 0 0 0;
  background: $cor-secundaria;
  @include celular {
    padding: 50px $container-mobile;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .titulo {
      @include titulo-principal;
      color: $cor-principal;
    }
    .ver-todos {
      @include ver-todos;
      span {
        color: #fff;
      }
      img {
        filter: brightness(10);
      }
    }
  }
  .itens {
    display: flex;
    margin: 3vw 0 0 0;
    gap: 2vw;
    @include celular {
      flex-direction: column;
    }
    .wrapper {
      position: relative;
      width: 75%;
      height: max-content;
      @include celular {
        width: 100%;
      }
      img {
        width: 100%;
        background: linear-gradient(to right, transparent 70%, #a1bbbf 30%);
        padding: 0.5vw 0.5vw 0.5vw 0;
      }
      .new-wrapper {
        width: 60%;
        @include celular {
          width: 90%;
        }
        .body {
          .texto {
            font-size: 25px;
            color: #fff;
            font-weight: 300;
            margin: 1.5vw 0 0 0;
            @include celular {
              font-size: 18px;
              line-height: 140%;
            }
          }
        }
      }
      .filtro {
        position: absolute;
        bottom: 0;
        padding: 0 3vw;
        background: linear-gradient(to top, $cor-secundaria, transparent);
        width: 98%;
        .area {
          text-transform: uppercase;
          color: #fff;
          font-size: 0.8vw;
          margin: 0 0 0.5vw 0;
          font-weight: 600;
        }
        .titulo {
          color: #fff;
          text-transform: uppercase;
          font-weight: 300;
          font-size: 1.4vw;
        }
      }
    }
    .outros-itens {
      width: 25%;
      display: flex;
      flex-direction: column;
      gap: 2vw;
      @include celular {
        width: 100%;
        margin: 30px 0 0 0;
        gap: 4vw;
      }
      .item {
        @include celular {
          display: flex;
          gap: 6vw;
        }
        img {
          width: 100%;
          height: 15vw;
          object-fit: cover;
          @include celular {
            width: 40%;
            height: 100px;
          }
        }
        .info {
          @include celular {
            width: 50%;
          }
          .texto {
            @include texto-itens;
            color: #fff;
            @include celular {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
