// videos 3 WRAPPER
.videos3-wrapper {
  margin: 1vw 0 0 0;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4vw 10vw;
    border-bottom: 0.2vw solid #aab3bd;
    @include celular {
      justify-content: space-between;
      padding: 2vw 0;
      margin: 4vw $container-mobile 2vw $container-mobile;
    }
    .titulo {
      @include titulo-principal;
    }
  }
  // TOPICOS / TAGS
  .topicos {
    width: 80%;
    margin: 0 auto;
    border: none;
    @include celular {
      flex-direction: column;
      width: 100%;
      padding: 4vw $container-mobile 0 $container-mobile;
    }
    div {
      gap: 0 1vw;
      @include celular {
        gap: 2vw 6vw;
      }
    }
    p {
      font-weight: 600;
      font-size: 1.6vw;
      @include celular {
        font-size: 20px;
      }
    }
    a {
      border: none;
      color: $cor-secundaria;
      @include celular {
        font-size: 16px;
        padding: 0;
      }
    }
  }
  // CAROUSEL
  .splide {
    background: $cor-secundaria;
    padding: 0 10vw;
    @include celular {
      margin: 6vw 0 0 0;
    }
    .splide__arrows {
      .splide__arrow {
        top: 19.5vw;
        border: none;
        svg {
          width: 1.5vw;
          height: 1.5vw;
          @include celular {
            width: 3.5vw;
            height: 3.5vw;
          }
          path {
            fill: #fff;
          }
        }
      }
      .splide__arrow--prev {
        left: 10vw !important;
      }
      .splide__arrow--next {
        right: 10vw !important;
      }
    }
    .itens {
      margin: 0 !important;
      .item {
        border-radius: 0;
        background: transparent;
        .imagem {
          margin: 0;
          text-align: center;
          @include celular {
            padding: 0 2vw;
          }
          img {
            border-radius: 0;
            width: 100%;
            height: 38vw;
            object-fit: contain;
            @include celular {
              height: auto;
            }
          }
        }
      }
    }
  }
}
