/* MIXINS RESPONSIVO */
*::-moz-selection {
  background: #fcc104;
  color: #fff;
}
*::selection {
  background: #fcc104;
  color: #fff;
}

* img::-moz-selection {
  background: transparent;
}

* img::selection {
  background: transparent;
}

html {
  overflow-x: hidden;
}

html ::-webkit-scrollbar-track {
  background-color: #fdfdfd;
}

html ::-webkit-scrollbar {
  width: 0px;
}

html ::-webkit-scrollbar-thumb {
  background: #fcc104;
}

body {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
figure {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: inherit;
}

a:hover {
  color: inherit;
}

button {
  outline: 0;
  cursor: pointer;
}

.area-botao {
  text-align: center;
  margin: 4vw auto 0 auto;
}

@media only screen and (max-width: 480px) {
  .area-botao {
    margin: 50px auto 0 auto;
  }
}

.botao {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1rem;
  outline: none !important;
  padding: 1vw 2vw;
  border-radius: 50vw;
  font-weight: 300;
  border: none;
}

@media only screen and (max-width: 480px) {
  .botao {
    font-size: 14px;
    padding: 12px 34px;
  }
}

.botao-principal {
  background: transparent;
  color: #5b5758;
  border: 0.2vw solid #5b5758;
}

.botao-secundario {
  background: transparent;
  color: #000;
  border: 1px solid #000;
  border-radius: 50px;
}

.botao-secundario:hover {
  color: #fff;
  background: #000;
}

.busca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.14vw solid #5b5758;
  padding: 0.5vw 1.6vw;
  border-radius: 50vw;
  width: 11vw;
  background: #fff;
}

.busca img {
  width: 1.4vw;
}

.busca input {
  padding: 0 0 0 0.8vw;
  border: none;
  outline: 0;
  font-size: 1.1vw;
  width: 100%;
  color: #5b5758;
}

.form-select {
  border: 0.2vw solid #5b5758;
  padding: 1vw 6vw 1vw 1vw;
  width: auto;
  border-radius: 0;
  font-weight: 300;
}

@media only screen and (max-width: 480px) {
  .form-select {
    padding: 1vw 8vw 1vw 4vw;
    font-size: 12px;
  }
}

.form-select:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: inherit;
}

#area-clique-busca .btn-busca {
  border: 0.2vw solid #5b5758;
  background: transparent;
  padding: 0.4vw 1.4vw;
  border-radius: 40vw;
  color: #5b5758;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: text;
}

@media only screen and (max-width: 480px) {
  #area-clique-busca .btn-busca {
    border: none;
    padding: 0;
  }
}

#area-clique-busca .btn-busca img {
  width: 1.3vw;
}

@media only screen and (max-width: 480px) {
  #area-clique-busca .btn-busca img {
    width: 18px;
    margin: 1vw 0 0 0;
  }
}

#area-clique-busca .btn-busca span {
  margin: 0 0 0 0.8vw;
  font-size: 1.1vw;
}

@media only screen and (max-width: 480px) {
  #area-clique-busca .btn-busca span {
    display: none;
  }
}

.compartilhamento-wrapper {
  padding: 0.8vw 1vw;
  margin: 4vw 0 0 0;
  border-top: 0.1vw solid #fff;
  border-bottom: 0.1vw solid #fff;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .compartilhamento-wrapper {
    padding: 2vw 1vw;
    margin: 20px 0 30px 0;
  }
}

.compartilhamento-wrapper .info .num-compartilhamentos {
  font-size: 2vw;
  font-weight: 400;
  line-height: 100%;
}

@media only screen and (max-width: 480px) {
  .compartilhamento-wrapper .info .num-compartilhamentos {
    font-size: 25px;
  }
}

.compartilhamento-wrapper .info .texto {
  font-size: 1vw;
  font-weight: 300;
}

@media only screen and (max-width: 480px) {
  .compartilhamento-wrapper .info .texto {
    font-size: 12px;
  }
}

.compartilhamento-wrapper .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.compartilhamento-wrapper .actions .botao {
  border-left: 0.1vw solid #fff;
  border-radius: 0;
  padding: 0.4vw 4vw 0.4vw 3vw;
}

@media only screen and (max-width: 480px) {
  .compartilhamento-wrapper .actions .botao {
    font-size: 12px;
  }
}

.compartilhamento-wrapper .actions .redes-sociais {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.2rem;
}

@media only screen and (max-width: 480px) {
  .compartilhamento-wrapper .actions .redes-sociais {
    gap: 1vw;
  }
}

@media only screen and (max-width: 480px) {
  .compartilhamento-wrapper .actions .redes-sociais img {
    width: 20px;
  }
}

.visivel {
  opacity: 1 !important;
}

.splide .splide__arrows .splide__arrow {
  top: -1.4vw;
  background: transparent;
  border: 0.1vw solid #5b5758;
  border-radius: 0;
}

@media only screen and (max-width: 480px) {
  .splide .splide__arrows .splide__arrow {
    width: 5vw;
    height: 5vw;
  }
}

.splide .splide__arrows .splide__arrow svg {
  width: 1vw;
}

@media only screen and (max-width: 480px) {
  .splide .splide__arrows .splide__arrow svg {
    width: 2vw;
  }
}

.splide .splide__arrows .splide__arrow--prev {
  right: 4vw !important;
  left: auto;
}

@media only screen and (max-width: 480px) {
  .splide .splide__arrows .splide__arrow--prev {
    right: 8vw !important;
  }
}

@media only screen and (max-width: 480px) {
  .splide .splide__arrows .splide__arrow--next {
    right: 1vw !important;
  }
}

@media only screen and (max-width: 480px) {
  .splide .splide__track {
    overflow: visible;
  }
}

.splide .splide__track .itens .item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.splide .splide__pagination {
  display: none;
}

.splide .itens {
  margin: 2vw 0 0 0 !important;
}

.splide .itens .item {
  border: none;
}

.splide .itens .item .imagem {
  margin: 0 1vw 0 0;
}

.splide .itens .item .imagem img {
  width: 6vw;
  height: 6vw;
  border-radius: 100%;
}

.splide .itens .item .info {
  width: 60%;
}

.splide .itens .item .info .nome {
  color: #5b5758;
  font-size: 0.9vw;
  margin: 0 0 0.6vw 0;
  font-weight: 600;
}

.splide .itens .item .info .texto {
  font-size: 1.4vw;
  font-weight: 300;
  line-height: 120%;
  color: #5b5758;
}

.topicos {
  border-top: 0.1vw solid #a8a1b3;
  border-bottom: 0.1vw solid #a8a1b3;
  margin: 50px 0;
  padding: 2vw 1vw;
  color: #5b5758;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1vw;
}

@media only screen and (max-width: 480px) {
  .topicos {
    gap: 3vw;
    padding: 35px 1vw;
  }
}

.topicos div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1vw;
}

@media only screen and (max-width: 480px) {
  .topicos div {
    gap: 3vw;
  }
}

@media only screen and (max-width: 480px) {
  .topicos div p {
    font-size: 16px;
  }
}

.topicos a {
  color: #6598c0;
  border: 0.1vw solid #6598c0;
  font-size: 1vw;
  padding: 6px 12px;
  border-radius: 10vw;
}

@media only screen and (max-width: 480px) {
  .topicos a {
    font-size: 14px;
  }
}

.header .titulo {
  font-size: 2.2vw;
  font-weight: 600;
  font-family: "Roboto Slab", serif;
}

@media only screen and (max-width: 480px) {
  .header .titulo {
    font-size: 4vw;
  }
}

.destaque-lateral {
  width: 35%;
  background: -webkit-gradient(linear, left top, right top, color-stop(42%, #fff), color-stop(42%, #f2f2f2));
  background: linear-gradient(to right, #fff 42%, #f2f2f2 42%);
  padding: 2vw 2vw 2vw 0;
}

@media only screen and (max-width: 480px) {
  .destaque-lateral {
    width: 100%;
    padding: 6vw 24px;
    background: #f2f2f2;
  }
}

.destaque-lateral .titulo {
  font-size: 32px;
  color: #5b5758;
  font-weight: 600;
  font-family: "Roboto Slab", serif;
}

.destaque-lateral .itens-p .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  overflow: hidden;
  margin: 16px 0 0 0;
  padding: 0.4vw 0;
}

@media only screen and (max-width: 480px) {
  .destaque-lateral .itens-p .item {
    padding: 0;
  }
}

.destaque-lateral .itens-p .item img {
  width: 130px;
  height: 72px;
  -o-object-fit: cover;
     object-fit: cover;
}

.destaque-lateral .itens-p .item .info {
  padding: 0 8px;
}

@media only screen and (max-width: 480px) {
  .destaque-lateral .itens-p .item .info {
    width: 50%;
  }
}

.destaque-lateral .itens-p .item .info .titulo {
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Inter", sans-serif;
}

.destaque-lateral .itens-p .item .info .texto {
  font-size: 14px;
  color: #5b5758;
  font-weight: 400;
  line-height: 120%;
  margin: 0.3vw 0 0 0;
}

.uol-wrapper {
  background: #262626;
  padding: 0.6vw 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 480px) {
  .uol-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1.4vw 24px;
  }
}

.uol-wrapper .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6vw;
}

.uol-wrapper .links .link {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9vw;
}

@media only screen and (max-width: 480px) {
  .uol-wrapper .links .link {
    display: none;
  }
}

.uol-wrapper .logo-uol img {
  width: 5vw;
}

@media only screen and (max-width: 480px) {
  .uol-wrapper .logo-uol img {
    width: 20vw;
  }
}

.uol-wrapper .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2vw;
}

@media only screen and (max-width: 480px) {
  .uol-wrapper .actions {
    display: none;
  }
}

.uol-wrapper .actions a {
  color: #fff;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3vw;
  font-size: 0.9vw;
}

.uol-wrapper .actions a img {
  width: 1vw;
}

.cabecalho {
  padding: 3vw 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.8vw solid #fcc104;
}

@media only screen and (max-width: 480px) {
  .cabecalho {
    border-bottom: 1.5vw solid #fcc104;
    padding: 5px 24px;
  }
}

.cabecalho .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5vw;
}

@media only screen and (max-width: 480px) {
  .cabecalho .logo {
    gap: 5vw;
  }
}

.cabecalho .logo img {
  width: 16vw;
}

@media only screen and (max-width: 480px) {
  .cabecalho .logo img {
    width: 120px;
  }
}

.cabecalho .logo .menu-compacto {
  position: relative;
  cursor: pointer;
  top: 0.8vw;
}

@media only screen and (max-width: 480px) {
  .cabecalho .logo .menu-compacto {
    top: 3.6vw;
  }
}

.cabecalho .logo .menu-compacto .linha1,
.cabecalho .logo .menu-compacto .linha2,
.cabecalho .logo .menu-compacto .linha3 {
  width: 2vw;
  height: 0.28vw;
  background: #5b5758;
  margin: 0.35vw 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

@media only screen and (max-width: 480px) {
  .cabecalho .logo .menu-compacto .linha1,
  .cabecalho .logo .menu-compacto .linha2,
  .cabecalho .logo .menu-compacto .linha3 {
    width: 6vw;
    height: 3px;
    margin: 4px 0;
  }
}

.cabecalho .logo .menu-compacto span {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.7vw;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (max-width: 480px) {
  .cabecalho .logo .menu-compacto span {
    position: relative;
    top: -2vw;
    font-size: 0;
  }
}

.cabecalho .logo .linha1-efeito {
  top: 0.6vw;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media only screen and (max-width: 480px) {
  .cabecalho .logo .linha1-efeito {
    top: 2.6vw;
  }
}

.cabecalho .logo .linha2-efeito {
  opacity: 0;
}

.cabecalho .logo .linha3-efeito {
  top: -0.7vw;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media only screen and (max-width: 480px) {
  .cabecalho .logo .linha3-efeito {
    top: -1.4vw;
  }
}

.cabecalho .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4vw;
  padding: 0;
}

@media only screen and (max-width: 480px) {
  .cabecalho .content-wrapper {
    gap: 1vw;
  }
}

.cabecalho .content-wrapper .busca-wrapper {
  padding: 1vw 2vw;
}

.cabecalho .content-wrapper .redes-sociais {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6vw;
}

@media only screen and (max-width: 480px) {
  .cabecalho .content-wrapper .redes-sociais {
    gap: 1vw;
  }
}

.cabecalho .content-wrapper .redes-sociais img {
  width: 2.4vw;
}

@media only screen and (max-width: 480px) {
  .cabecalho .content-wrapper .redes-sociais img {
    width: 18px;
  }
}

@media only screen and (max-width: 480px) {
  .cabecalho .busca {
    width: 18vw;
    height: 5vw;
    margin: 0;
  }
}

@media only screen and (max-width: 480px) {
  .cabecalho .busca img {
    width: 3vw;
  }
}

@media only screen and (max-width: 480px) {
  .cabecalho .busca input {
    display: none;
  }
}

.menu-aberto {
  background: #5b5758;
  height: 0%;
  width: 100%;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 999;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-aberto .itens {
  padding: 0vw 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2vw;
}

@media only screen and (max-width: 480px) {
  .menu-aberto .itens {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.menu-aberto .itens .links {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2vw;
}

@media only screen and (max-width: 480px) {
  .menu-aberto .itens .links {
    width: 100%;
  }
}

.menu-aberto .itens .links .link-wrapper .link-principal {
  color: #fff;
  font-weight: 400;
  font-size: 1.8vw;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media only screen and (max-width: 480px) {
  .menu-aberto .itens .links .link-wrapper .link-principal {
    font-size: 20px;
  }
}

.menu-aberto .itens .links .link-wrapper .link-principal:hover {
  color: #fcc104;
}

.menu-aberto .itens .links .link-wrapper .link-principal img {
  -webkit-filter: brightness(5);
          filter: brightness(5);
  width: 1.1vw;
  margin: 0 0 0 0.8vw;
}

@media only screen and (max-width: 480px) {
  .menu-aberto .itens .links .link-wrapper .link-principal img {
    width: 2.6vw;
    margin: 0 0 0 1.6vw;
  }
}

.menu-aberto .itens .links .link-wrapper .link-p-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-aberto .itens .links .link-wrapper .link-p-wrapper a {
  font-size: 1.1vw;
  color: #fff;
  font-weight: 300;
  margin: 0.4vw 1.2vw 0 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media only screen and (max-width: 480px) {
  .menu-aberto .itens .links .link-wrapper .link-p-wrapper a {
    font-size: 14px;
  }
}

.menu-aberto .itens .links .link-wrapper .link-p-wrapper a:hover {
  color: #fcc104;
}

.menu-aberto-efeito {
  height: 77%;
}

@media only screen and (max-width: 480px) {
  .menu-aberto-efeito {
    height: 215vw;
    padding: 4vw 0 6vw 0;
  }
}

.busca-aberto {
  background: #fcc104;
  height: 0%;
  width: 100%;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 999;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10vw;
  z-index: 99;
}

.busca-aberto .fechar-busca {
  position: absolute;
  right: 10vw;
  top: 2vw;
  cursor: pointer;
}

.busca-aberto .fechar-busca img {
  width: 2vw;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (max-width: 480px) {
  .busca-aberto .fechar-busca img {
    width: 4vw;
  }
}

.busca-aberto .fechar-busca img:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.busca-aberto .busca-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.1vw solid #4e4b4b;
}

@media only screen and (max-width: 480px) {
  .busca-aberto .busca-wrapper img {
    width: 16px;
  }
}

.busca-aberto .busca-wrapper input {
  border: 0;
  background: transparent;
  padding: 1vw 2vw;
  width: 100%;
  color: #5b5758;
  outline: 0;
}

@media only screen and (max-width: 480px) {
  .busca-aberto .busca-wrapper input {
    font-size: 12px;
  }
}

.busca-aberto .busca-wrapper input::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #5b5758;
}

.busca-aberto .busca-wrapper input:-ms-input-placeholder {
  text-transform: uppercase;
  color: #5b5758;
}

.busca-aberto .busca-wrapper input::-ms-input-placeholder {
  text-transform: uppercase;
  color: #5b5758;
}

.busca-aberto .busca-wrapper input::placeholder {
  text-transform: uppercase;
  color: #5b5758;
}

.busca-aberto .sugestoes {
  width: 100%;
}

.busca-aberto .sugestoes .item {
  padding: 2vw 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.1vw solid #5b5758;
}

@media only screen and (max-width: 480px) {
  .busca-aberto .sugestoes .item {
    padding: 4vw 1vw;
  }
}

.busca-aberto .sugestoes .item .nome,
.busca-aberto .sugestoes .item .area {
  color: #5b5758;
}

@media only screen and (max-width: 480px) {
  .busca-aberto .sugestoes .item .nome,
  .busca-aberto .sugestoes .item .area {
    font-size: 12px;
  }
}

.busca-aberto-efeito {
  height: 77%;
  padding: 4vw 10vw 8vw 10vw;
}

@media only screen and (max-width: 480px) {
  .busca-aberto-efeito {
    height: 50%;
    padding: 8vw 10vw 8vw 10vw;
  }
}

.navegacao {
  padding: 2vw 10vw;
  background: #5b5758;
}

@media only screen and (max-width: 480px) {
  .navegacao {
    padding: 2vw 24px;
  }
}

.navegacao .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: scroll;
}

.navegacao .links::-webkit-scrollbar {
  display: none;
}

.navegacao .links .link {
  color: #fff;
  font-size: 1.1vw;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media only screen and (max-width: 480px) {
  .navegacao .links .link {
    white-space: nowrap;
    font-size: 15px;
  }
}

.navegacao .links .link:hover {
  color: #f2e7c3;
}

@media only screen and (max-width: 480px) {
  .navegacao .links .link + .link {
    margin: 0 0 0 15px;
  }
}

.navegacao .links .destaque {
  color: #f2e7c3;
}

.type1-wrapper {
  padding: 4vw 10vw 0 10vw;
}

@media only screen and (max-width: 480px) {
  .type1-wrapper {
    padding: 6vw 24px 0 24px;
  }
}

.type1-wrapper .itens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2vw;
}

@media only screen and (max-width: 1024px) {
  .type1-wrapper .itens {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4vw;
  }
}

.type1-wrapper .itens .item {
  width: 65%;
}

@media only screen and (max-width: 480px) {
  .type1-wrapper .itens .item {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .type1-wrapper .itens .item + .item {
    margin: 40px 0 0 0;
  }
}

.type1-wrapper .itens .item:nth-child(2) {
  width: 35%;
}

@media only screen and (max-width: 480px) {
  .type1-wrapper .itens .item:nth-child(2) {
    width: 100%;
  }
}

.type1-wrapper .itens .item:nth-child(2) .info {
  padding: 1.4vw 1vw;
  max-width: 100%;
}

.type1-wrapper .itens .item img {
  width: 100%;
}

.type1-wrapper .itens .item .info {
  padding: 1.4vw;
  max-width: 100%;
  border-top: 0.6vw solid #fcc104;
}

@media only screen and (max-width: 480px) {
  .type1-wrapper .itens .item .info {
    border-width: 1.5vw;
  }
}

.type1-wrapper .itens .item .info .area {
  text-transform: uppercase;
  color: #787480;
  font-size: 12px;
  margin: 0 0 0.4vw 0;
  font-weight: 600;
}

.type1-wrapper .itens .item .info .titulo {
  color: #5b5758;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 130%;
  max-width: 80%;
}

@media only screen and (max-width: 480px) {
  .type1-wrapper .itens .item .info .titulo {
    max-width: 100%;
  }
}

.type2-wrapper {
  margin: -8vw 10vw 0 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 2vw;
}

@media only screen and (max-width: 480px) {
  .type2-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
}

.type2-wrapper .itens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2vw;
  width: 65%;
}

@media only screen and (max-width: 1024px) {
  .type2-wrapper .itens {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4vw;
  }
}

@media only screen and (max-width: 1024px) and (max-width: 480px) {
  .type2-wrapper .itens {
    padding: 6vw 24px 0 24px;
  }
}

@media only screen and (max-width: 480px) {
  .type2-wrapper .itens {
    width: 100%;
  }
}

.type2-wrapper .itens .item {
  width: 50%;
}

@media only screen and (max-width: 480px) {
  .type2-wrapper .itens .item {
    width: 100%;
    margin: 40px 0 0 0;
  }
}

.type2-wrapper .itens .item img {
  width: 100%;
}

.type2-wrapper .itens .item .info {
  padding: 1.4vw 1vw;
  max-width: 100%;
  border-top: 0.6vw solid #fcc104;
}

@media only screen and (max-width: 480px) {
  .type2-wrapper .itens .item .info {
    border-width: 1.5vw;
  }
}

.type2-wrapper .itens .item .info .area {
  text-transform: uppercase;
  color: #787480;
  font-size: 12px;
  margin: 0 0 0.4vw 0;
  font-weight: 600;
}

.type2-wrapper .itens .item .info .titulo {
  color: #5b5758;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 130%;
  max-width: 80%;
}

@media only screen and (max-width: 480px) {
  .type2-wrapper .itens .item .info .titulo {
    max-width: 100%;
  }
}

.type3-wrapper {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(59.5%, #f2e7c3), color-stop(0%, transparent));
  background: linear-gradient(to bottom, #f2e7c3 59.5%, transparent 0%);
}

@media only screen and (max-width: 480px) {
  .type3-wrapper {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(54.7vw, #f2e7c3), color-stop(0%, transparent));
    background: linear-gradient(to bottom, #f2e7c3 54.7vw, transparent 0%);
  }
}

.type3-wrapper .itens {
  padding: 6vw 10vw 0 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2vw;
}

@media only screen and (max-width: 1024px) {
  .type3-wrapper .itens {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 6vw 24px 0 24px;
    gap: 4vw;
  }
}

.type3-wrapper .itens .item {
  width: 33%;
}

@media only screen and (max-width: 480px) {
  .type3-wrapper .itens .item {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .type3-wrapper .itens .item + .item {
    margin: 40px 0 0 0;
  }
}

.type3-wrapper .itens .item img {
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .type3-wrapper .itens .item img {
    width: 100%;
  }
}

.type3-wrapper .itens .item .info {
  padding: 1.4vw;
  max-width: 100%;
  border-top: 0.6vw solid #fcc104;
}

@media only screen and (max-width: 480px) {
  .type3-wrapper .itens .item .info {
    border-width: 1.5vw;
  }
}

.type3-wrapper .itens .item .info .area {
  text-transform: uppercase;
  color: #787480;
  font-size: 12px;
  margin: 0 0 0.4vw 0;
  font-weight: 600;
}

.type3-wrapper .itens .item .info .titulo {
  color: #5b5758;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 130%;
  max-width: 80%;
}

@media only screen and (max-width: 480px) {
  .type3-wrapper .itens .item .info .titulo {
    max-width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .type3a-wrapper {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(27.5%, #f2e7c3), color-stop(0%, transparent));
    background: linear-gradient(to bottom, #f2e7c3 27.5%, transparent 0%);
  }
}

.type3a-wrapper .itens {
  padding: 6vw 10vw 0 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2vw;
}

@media only screen and (max-width: 1024px) {
  .type3a-wrapper .itens {
    padding: 6vw 10vw 0 10vw;
  }
}

@media only screen and (max-width: 480px) {
  .type3a-wrapper .itens {
    padding: 6vw 24px 0 24px;
  }
}

.type3a-wrapper .itens .item {
  width: 33%;
}

@media only screen and (max-width: 480px) {
  .type3a-wrapper .itens .item {
    width: 100%;
    margin: 30px 0 0 0;
  }
}

.type3a-wrapper .itens .item img {
  width: 100%;
  height: 15vw;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 480px) {
  .type3a-wrapper .itens .item img {
    width: 100%;
    height: auto;
  }
}

.type3a-wrapper .itens .item .info {
  padding: 1.4vw;
  max-width: 100%;
  border-top: 0.6vw solid #fcc104;
}

@media only screen and (max-width: 480px) {
  .type3a-wrapper .itens .item .info {
    border-width: 1.5vw;
  }
}

.type3a-wrapper .itens .item .info .area {
  text-transform: uppercase;
  color: #787480;
  font-size: 12px;
  margin: 0 0 0.4vw 0;
  font-weight: 600;
}

.type3a-wrapper .itens .item .info .titulo {
  color: #5b5758;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 130%;
  max-width: 80%;
}

@media only screen and (max-width: 480px) {
  .type3a-wrapper .itens .item .info .titulo {
    max-width: 100%;
  }
}

.type4-wrapper {
  margin: 6vw 0 0 0;
}

.type4-wrapper .itens {
  padding: 0 10vw 0 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2vw;
}

.type4-wrapper .itens .item {
  width: 33%;
}

.type4-wrapper .itens .item img {
  border-bottom: 0.6vw solid #fcc104;
  width: 100%;
  height: 15vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.type4-wrapper .itens .item .info {
  padding: 1.4vw;
  max-width: 90%;
}

.type4-wrapper .itens .item .info .area {
  text-transform: uppercase;
  color: #787480;
  font-size: 0.8vw;
  margin: 0 0 0.4vw 0;
  font-weight: 600;
}

.type4-wrapper .itens .item .info .titulo {
  color: #5b5758;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.5vw;
  line-height: 130%;
}

.type5-wrapper {
  margin: 6vw 0 0 0;
}

.type5-wrapper .itens {
  padding: 0 10vw 0 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 480px) {
  .type5-wrapper .itens {
    padding: 0 24px;
  }
}

.type5-wrapper .itens .item {
  width: 23%;
}

@media only screen and (max-width: 480px) {
  .type5-wrapper .itens .item {
    width: 48%;
  }
}

.type5-wrapper .itens .item img {
  width: 100%;
  height: 14vw;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 480px) {
  .type5-wrapper .itens .item img {
    height: auto;
  }
}

.type5-wrapper .itens .item .info {
  padding: 1vw 0;
  max-width: 90%;
}

.type5-wrapper .itens .item .info .texto {
  color: #5b5758;
  font-weight: 300;
  font-size: 1.2vw;
  line-height: 130%;
}

@media only screen and (max-width: 480px) {
  .type5-wrapper .itens .item .info .texto {
    font-size: 15px;
  }
}

.type6-wrapper {
  margin: 6vw 0 0 0;
}

.type6-wrapper .itens {
  padding: 0 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2vw;
}

@media only screen and (max-width: 480px) {
  .type6-wrapper .itens {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.type6-wrapper .itens .item {
  width: 25%;
}

@media only screen and (max-width: 480px) {
  .type6-wrapper .itens .item {
    width: 46%;
  }
}

.type6-wrapper .itens .item img {
  width: 100%;
  height: 10vw;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 480px) {
  .type6-wrapper .itens .item img {
    height: 120px;
  }
}

.type6-wrapper .itens .item .info {
  padding: 5px 0;
  max-width: 90%;
}

@media only screen and (max-width: 480px) {
  .type6-wrapper .itens .item .info {
    max-width: 100%;
  }
}

.type6-wrapper .itens .item .info .texto {
  color: #5b5758;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
}

@media only screen and (max-width: 480px) {
  .type6-wrapper .itens .item .info .texto {
    font-size: 15px;
  }
}

.type7-wrapper {
  padding: 6vw 10vw 0 10vw;
}

@media only screen and (max-width: 480px) {
  .type7-wrapper {
    padding: 6vw 24px 0 24px;
  }
}

.type7-wrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 480px) {
  .type7-wrapper .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.type7-wrapper .header .titulo {
  font-size: 2vw;
  color: #5b5758;
  font-weight: 600;
  font-family: "Roboto Slab", serif;
}

@media only screen and (max-width: 480px) {
  .type7-wrapper .header .titulo {
    font-size: 20px;
  }
}

.type7-wrapper .header select {
  margin: 0 0 0 6vw;
}

.type8-wrapper {
  padding: 6vw 10vw;
}

@media only screen and (max-width: 480px) {
  .type8-wrapper {
    padding: 6vw 24px;
  }
}

.type8-wrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.type8-wrapper .header .titulo {
  font-size: 32px;
  color: #5b5758;
  font-weight: 600;
  font-family: "Roboto Slab", serif;
}

.type8-wrapper .itens {
  margin: 4vw 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 480px) {
  .type8-wrapper .itens {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.type8-wrapper .itens .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
}

@media only screen and (max-width: 480px) {
  .type8-wrapper .itens .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 20px 0 0 0;
  }
}

.type8-wrapper .itens .item img {
  width: 6vw;
  height: 6vw;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 480px) {
  .type8-wrapper .itens .item img {
    width: 77px;
    height: 77px;
  }
}

.type8-wrapper .itens .item .info {
  margin: 0 0 0 2.4vw;
}

@media only screen and (max-width: 480px) {
  .type8-wrapper .itens .item .info {
    margin: 24px 0 0 0;
  }
}

.type8-wrapper .itens .item .info .titulo {
  font-size: 1.8vw;
  color: #5b5758;
  font-weight: 600;
  margin: 0 0 0.8vw 0;
}

@media only screen and (max-width: 480px) {
  .type8-wrapper .itens .item .info .titulo {
    font-size: 22px;
  }
}

.type8-wrapper .itens .item .info .texto {
  color: #5b5758;
  font-weight: 300;
  font-size: 1.2vw;
}

@media only screen and (max-width: 480px) {
  .type8-wrapper .itens .item .info .texto {
    font-size: 16px;
  }
}

@media only screen and (max-width: 480px) {
  .type8-wrapper .itens .mais-item {
    margin: 3vw 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

.type8-wrapper .itens .mais-item .titulo {
  font-size: 1.8vw;
  color: #5b5758;
  font-weight: 600;
  font-family: "Roboto Slab", serif;
  margin: 0 0 0.8vw 0;
}

@media only screen and (max-width: 480px) {
  .type8-wrapper .itens .mais-item .titulo {
    font-size: 20px;
  }
}

.type9-wrapper {
  padding: 6vw 10vw;
  background: #d0e1e4;
  margin: 6vw 0 0 0;
}

@media only screen and (max-width: 480px) {
  .type9-wrapper {
    padding: 6vw 24px;
  }
}

.type9-wrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.type9-wrapper .header .titulo {
  font-size: 32px;
  color: #5b5758;
  font-weight: 600;
  font-family: "Roboto Slab", serif;
}

@media only screen and (max-width: 480px) {
  .type9-wrapper .splide {
    margin: 6vw 0 0 0;
  }
}

@media only screen and (max-width: 480px) {
  .type9-wrapper .splide .splide__arrow {
    top: -8.5vw;
  }
}

.type9-wrapper .splide .itens .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: transparent;
  border: none;
}

.type9-wrapper .splide .itens .item .imagem img {
  width: 92px;
  height: 92px;
}

.type9-wrapper .splide .itens .item .info {
  margin: 1vw 0 0 0;
}

@media only screen and (max-width: 480px) {
  .type9-wrapper .splide .itens .item .info {
    margin: 1vw 0 0 15px;
  }
}

.type9-wrapper .splide .itens .item .info .nome {
  font-size: 12px;
}

.type9-wrapper .splide .itens .item .info .texto {
  font-size: 20px;
}

@media only screen and (max-width: 480px) {
  .type9-wrapper .splide .itens .item .info .texto {
    font-size: 14px;
    width: 75%;
    margin: 8px 0 0 0;
  }
}

.type10-wrapper {
  padding: 6vw 10vw;
  background: #f2f2f2;
  margin: 6vw 0 0 0;
}

@media only screen and (max-width: 480px) {
  .type10-wrapper {
    padding: 50px 24px;
  }
}

.type10-wrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 9vw 0 0;
}

@media only screen and (max-width: 480px) {
  .type10-wrapper .header {
    margin: 0 18vw 0 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.type10-wrapper .header .titulo {
  font-size: 48px;
  color: #5b5758;
  font-weight: 600;
  font-family: "Roboto Slab", serif;
}

@media only screen and (max-width: 480px) {
  .type10-wrapper .header .titulo {
    font-size: 32px;
  }
}

@media only screen and (max-width: 480px) {
  .type10-wrapper .header .ver-todos a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.type10-wrapper .header .ver-todos span {
  color: #5b5758;
  font-size: 20px;
}

@media only screen and (max-width: 480px) {
  .type10-wrapper .header .ver-todos span {
    font-size: 12px;
  }
}

.type10-wrapper .header .ver-todos img {
  width: 23px;
  margin: 0 0 0 0.4vw;
}

@media only screen and (max-width: 480px) {
  .type10-wrapper .header .ver-todos img {
    width: 10px;
    margin: 0 0 0 1.5vw;
  }
}

.type10-wrapper .header .ver-todos a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.type10-wrapper .header .ver-todos a img {
  width: 18px;
}

@media only screen and (max-width: 480px) {
  .type10-wrapper .splide .splide__arrow {
    top: -4.5vw;
  }
}

.type10-wrapper .splide .itens .item {
  background: #f2f2f2;
}

@media only screen and (max-width: 480px) {
  .type10-wrapper .splide .itens .item {
    margin: 2vw 2vw 0 2vw;
  }
}

.type10-wrapper .splide .itens .item .imagem img {
  width: 100%;
  height: 19vw;
  border-radius: 0;
}

@media only screen and (max-width: 480px) {
  .type10-wrapper .splide .itens .item .imagem img {
    height: auto;
  }
}

.type10-wrapper .splide .itens .item .info {
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .type10-wrapper .splide .itens .item .info {
    width: 60%;
    margin: 2vw 0 0 0;
  }
}

.type10-wrapper .splide .itens .item .info .texto {
  margin: 1vw 0 0 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
}

@media only screen and (max-width: 480px) {
  .type10-wrapper .splide .itens .item .info .texto {
    font-size: 18px;
  }
}

.type11-wrapper {
  margin: 6vw 0 0 0;
}

@media only screen and (max-width: 480px) {
  .type11-wrapper {
    margin: 50px 0;
  }
}

.type11-wrapper .itens {
  padding: 0 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 480px) {
  .type11-wrapper .itens {
    padding: 0 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4vw;
  }
}

.type11-wrapper .itens .item {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2vw;
}

@media only screen and (max-width: 480px) {
  .type11-wrapper .itens .item {
    width: 100%;
    gap: 6vw;
  }
}

@media only screen and (max-width: 480px) {
  .type11-wrapper .itens .item + .item {
    margin: 15px 0 0 0;
  }
}

.type11-wrapper .itens .item img {
  width: 100%;
  height: 10vw;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 480px) {
  .type11-wrapper .itens .item img {
    width: 50%;
    height: 87px;
  }
}

.type11-wrapper .itens .item .info {
  max-width: 45%;
}

@media only screen and (max-width: 480px) {
  .type11-wrapper .itens .item .info {
    max-width: 50%;
  }
}

.type11-wrapper .itens .item .info .area {
  text-transform: uppercase;
  color: #787480;
  font-size: 12px;
  margin: 0 0 0.4vw 0;
  font-weight: 600;
  color: #5b5758;
}

.type11-wrapper .itens .item .info .texto {
  color: #5b5758;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  margin: 1vw 0 0 0;
}

@media only screen and (max-width: 480px) {
  .type11-wrapper .itens .item .info .texto {
    font-size: 14px;
  }
}

.type11a-wrapper {
  margin: 6vw 0 0 0;
}

.type11a-wrapper .itens {
  padding: 0 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
}

@media only screen and (max-width: 480px) {
  .type11a-wrapper .itens {
    padding: 0 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4vw;
    width: 100%;
  }
}

.type11a-wrapper .itens .item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2vw;
}

.type11a-wrapper .itens .item img {
  width: 50%;
  height: 10vw;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 480px) {
  .type11a-wrapper .itens .item img {
    width: 41%;
    height: 15vw;
  }
}

.type11a-wrapper .itens .item .info {
  max-width: 38%;
}

.type11a-wrapper .itens .item .info .area {
  text-transform: uppercase;
  color: #787480;
  font-size: 0.8vw;
  margin: 0 0 1vw 0;
  font-weight: 600;
}

@media only screen and (max-width: 480px) {
  .type11a-wrapper .itens .item .info .area {
    font-size: 2vw;
  }
}

.type11a-wrapper .itens .item .info .texto {
  color: #5b5758;
  font-weight: 300;
  font-size: 1.2vw;
  line-height: 130%;
}

@media only screen and (max-width: 480px) {
  .type11a-wrapper .itens .item .info .texto {
    font-size: 2.2vw;
  }
}

.page-videos-interna .videos1-wrapper {
  padding: 6vw 10vw;
  margin: 6vw 0 0 0;
  background: #5b5758;
}

@media only screen and (max-width: 480px) {
  .page-videos-interna .videos1-wrapper {
    padding: 6vw 24px;
  }
}

.page-videos-interna .videos1-wrapper .header .titulo {
  font-size: 48px;
  color: #5b5758;
  font-weight: 600;
  font-family: "Roboto Slab", serif;
  color: #fcc104;
}

@media only screen and (max-width: 480px) {
  .page-videos-interna .videos1-wrapper .header .titulo {
    font-size: 32px;
  }
}

.page-videos-interna .videos1-wrapper .itens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2vw;
  margin: 3vw 0 0 0;
}

@media only screen and (max-width: 480px) {
  .page-videos-interna .videos1-wrapper .itens {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.page-videos-interna .videos1-wrapper .itens .item:first-child {
  width: 70%;
}

.page-videos-interna .videos1-wrapper .itens .item:nth-child(2) {
  width: 30%;
}

@media only screen and (max-width: 480px) {
  .page-videos-interna .videos1-wrapper .itens .item {
    width: 100% !important;
  }
}

.page-videos-interna .videos1-wrapper .itens .item .wrapper {
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.page-videos-interna .videos1-wrapper .itens .item .wrapper img {
  width: 100%;
}

.page-videos-interna .videos1-wrapper .itens .item .wrapper .info {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 2vw 3vw;
  background: -webkit-gradient(linear, left bottom, left top, from(#5b5758), to(transparent));
  background: linear-gradient(to top, #5b5758, transparent);
}

.page-videos-interna .videos1-wrapper .itens .item .wrapper .info .area {
  text-transform: uppercase;
  color: #787480;
  font-size: 12px;
  margin: 0 0 0.4vw 0;
  font-weight: 600;
  color: #fff;
}

.page-videos-interna .videos1-wrapper .itens .item .wrapper .info .titulo {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.4vw;
}

@media only screen and (max-width: 480px) {
  .page-videos-interna .videos1-wrapper .itens .item .wrapper .info .titulo {
    font-size: 16px;
  }
}

.page-videos-interna .videos1-wrapper .itens .item .new-wrapper {
  margin: 3vw 0 0 0;
}

.page-videos-interna .videos1-wrapper .itens .item .new-wrapper .header .titulo {
  font-size: 2vw;
  color: #fff;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}

@media only screen and (max-width: 480px) {
  .page-videos-interna .videos1-wrapper .itens .item .new-wrapper .header .titulo {
    font-size: 18px;
  }
}

.page-videos-interna .videos1-wrapper .itens .item .new-wrapper .body .texto {
  color: #fff;
  font-weight: 400;
  margin: 1.5vw 0 0 0;
}

@media only screen and (max-width: 480px) {
  .page-videos-interna .videos1-wrapper .itens .item .new-wrapper .body .texto {
    font-size: 16px;
  }
}

.page-videos-interna .videos1-wrapper .itens .item .destaque-lateral {
  padding: 0;
  background: transparent;
  width: 100%;
}

.page-videos-interna .videos1-wrapper .itens .item .destaque-lateral .titulo {
  color: #fff;
}

.page-videos-interna .videos1-wrapper .itens .item .destaque-lateral .itens-p .item {
  background: transparent;
}

.page-videos-interna .videos1-wrapper .itens .item .destaque-lateral .itens-p .item .texto {
  color: #fff;
}

@media only screen and (max-width: 480px) {
  .page-videos-interna .type5-wrapper .itens .item {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) and (max-width: 480px) {
  .page-videos-interna .type5-wrapper .itens .item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2vw;
  }
}

@media only screen and (max-width: 480px) and (max-width: 480px) {
  .page-videos-interna .type5-wrapper .itens .item a img {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) and (max-width: 480px) {
  .page-videos-interna .type5-wrapper .itens .item a .info {
    width: 50%;
  }
}

.videos2-wrapper {
  padding: 6vw 10vw;
  margin: 6vw 0 0 0;
  background: #5b5758;
}

@media only screen and (max-width: 480px) {
  .videos2-wrapper {
    padding: 50px 24px;
  }
}

.videos2-wrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.videos2-wrapper .header .titulo {
  font-size: 48px;
  color: #5b5758;
  font-weight: 600;
  font-family: "Roboto Slab", serif;
  color: #fcc104;
}

@media only screen and (max-width: 480px) {
  .videos2-wrapper .header .titulo {
    font-size: 32px;
  }
}

@media only screen and (max-width: 480px) {
  .videos2-wrapper .header .ver-todos a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.videos2-wrapper .header .ver-todos span {
  color: #5b5758;
  font-size: 20px;
}

@media only screen and (max-width: 480px) {
  .videos2-wrapper .header .ver-todos span {
    font-size: 12px;
  }
}

.videos2-wrapper .header .ver-todos img {
  width: 23px;
  margin: 0 0 0 0.4vw;
}

@media only screen and (max-width: 480px) {
  .videos2-wrapper .header .ver-todos img {
    width: 10px;
    margin: 0 0 0 1.5vw;
  }
}

.videos2-wrapper .header .ver-todos span {
  color: #fff;
}

.videos2-wrapper .header .ver-todos img {
  -webkit-filter: brightness(10);
          filter: brightness(10);
}

.videos2-wrapper .itens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3vw 0 0 0;
  gap: 2vw;
}

@media only screen and (max-width: 480px) {
  .videos2-wrapper .itens {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.videos2-wrapper .itens .wrapper {
  position: relative;
  width: 75%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

@media only screen and (max-width: 480px) {
  .videos2-wrapper .itens .wrapper {
    width: 100%;
  }
}

.videos2-wrapper .itens .wrapper img {
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(70%, transparent), color-stop(30%, #a1bbbf));
  background: linear-gradient(to right, transparent 70%, #a1bbbf 30%);
  padding: 0.5vw 0.5vw 0.5vw 0;
}

.videos2-wrapper .itens .wrapper .new-wrapper {
  width: 60%;
}

@media only screen and (max-width: 480px) {
  .videos2-wrapper .itens .wrapper .new-wrapper {
    width: 90%;
  }
}

.videos2-wrapper .itens .wrapper .new-wrapper .body .texto {
  font-size: 25px;
  color: #fff;
  font-weight: 300;
  margin: 1.5vw 0 0 0;
}

@media only screen and (max-width: 480px) {
  .videos2-wrapper .itens .wrapper .new-wrapper .body .texto {
    font-size: 18px;
    line-height: 140%;
  }
}

.videos2-wrapper .itens .wrapper .filtro {
  position: absolute;
  bottom: 0;
  padding: 0 3vw;
  background: -webkit-gradient(linear, left bottom, left top, from(#5b5758), to(transparent));
  background: linear-gradient(to top, #5b5758, transparent);
  width: 98%;
}

.videos2-wrapper .itens .wrapper .filtro .area {
  text-transform: uppercase;
  color: #fff;
  font-size: 0.8vw;
  margin: 0 0 0.5vw 0;
  font-weight: 600;
}

.videos2-wrapper .itens .wrapper .filtro .titulo {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.4vw;
}

.videos2-wrapper .itens .outros-itens {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2vw;
}

@media only screen and (max-width: 480px) {
  .videos2-wrapper .itens .outros-itens {
    width: 100%;
    margin: 30px 0 0 0;
    gap: 4vw;
  }
}

@media only screen and (max-width: 480px) {
  .videos2-wrapper .itens .outros-itens .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 6vw;
  }
}

.videos2-wrapper .itens .outros-itens .item img {
  width: 100%;
  height: 15vw;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 480px) {
  .videos2-wrapper .itens .outros-itens .item img {
    width: 40%;
    height: 100px;
  }
}

@media only screen and (max-width: 480px) {
  .videos2-wrapper .itens .outros-itens .item .info {
    width: 50%;
  }
}

.videos2-wrapper .itens .outros-itens .item .info .texto {
  color: #5b5758;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  margin: 1vw 0 0 0;
  color: #fff;
}

@media only screen and (max-width: 480px) {
  .videos2-wrapper .itens .outros-itens .item .info .texto {
    font-size: 14px;
  }
}

@media only screen and (max-width: 480px) {
  .videos2-wrapper .itens .outros-itens .item .info .texto {
    font-size: 16px;
  }
}

.videos3-wrapper {
  margin: 1vw 0 0 0;
}

.videos3-wrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 4vw 10vw;
  border-bottom: 0.2vw solid #aab3bd;
}

@media only screen and (max-width: 480px) {
  .videos3-wrapper .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2vw 0;
    margin: 4vw 24px 2vw 24px;
  }
}

.videos3-wrapper .header .titulo {
  font-size: 48px;
  color: #5b5758;
  font-weight: 600;
  font-family: "Roboto Slab", serif;
}

@media only screen and (max-width: 480px) {
  .videos3-wrapper .header .titulo {
    font-size: 32px;
  }
}

.videos3-wrapper .topicos {
  width: 80%;
  margin: 0 auto;
  border: none;
}

@media only screen and (max-width: 480px) {
  .videos3-wrapper .topicos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 4vw 24px 0 24px;
  }
}

.videos3-wrapper .topicos div {
  gap: 0 1vw;
}

@media only screen and (max-width: 480px) {
  .videos3-wrapper .topicos div {
    gap: 2vw 6vw;
  }
}

.videos3-wrapper .topicos p {
  font-weight: 600;
  font-size: 1.6vw;
}

@media only screen and (max-width: 480px) {
  .videos3-wrapper .topicos p {
    font-size: 20px;
  }
}

.videos3-wrapper .topicos a {
  border: none;
  color: #5b5758;
}

@media only screen and (max-width: 480px) {
  .videos3-wrapper .topicos a {
    font-size: 16px;
    padding: 0;
  }
}

.videos3-wrapper .splide {
  background: #5b5758;
  padding: 0 10vw;
}

@media only screen and (max-width: 480px) {
  .videos3-wrapper .splide {
    margin: 6vw 0 0 0;
  }
}

.videos3-wrapper .splide .splide__arrows .splide__arrow {
  top: 19.5vw;
  border: none;
}

.videos3-wrapper .splide .splide__arrows .splide__arrow svg {
  width: 1.5vw;
  height: 1.5vw;
}

@media only screen and (max-width: 480px) {
  .videos3-wrapper .splide .splide__arrows .splide__arrow svg {
    width: 3.5vw;
    height: 3.5vw;
  }
}

.videos3-wrapper .splide .splide__arrows .splide__arrow svg path {
  fill: #fff;
}

.videos3-wrapper .splide .splide__arrows .splide__arrow--prev {
  left: 10vw !important;
}

.videos3-wrapper .splide .splide__arrows .splide__arrow--next {
  right: 10vw !important;
}

.videos3-wrapper .splide .itens {
  margin: 0 !important;
}

.videos3-wrapper .splide .itens .item {
  border-radius: 0;
  background: transparent;
}

.videos3-wrapper .splide .itens .item .imagem {
  margin: 0;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .videos3-wrapper .splide .itens .item .imagem {
    padding: 0 2vw;
  }
}

.videos3-wrapper .splide .itens .item .imagem img {
  border-radius: 0;
  width: 100%;
  height: 38vw;
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (max-width: 480px) {
  .videos3-wrapper .splide .itens .item .imagem img {
    height: auto;
  }
}

.page-home .type1-wrapper {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(19.38vw, #c2b0ad), color-stop(0%, transparent));
  background: linear-gradient(to bottom, #c2b0ad 19.38vw, transparent 0%);
}

@media only screen and (max-width: 480px) {
  .page-home .type1-wrapper {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(54.7vw, #c2b0ad), color-stop(0%, transparent));
    background: linear-gradient(to bottom, #c2b0ad 54.7vw, transparent 0%);
  }
}

.page-home .type6-wrapper {
  margin: 0;
  padding: 0 10vw;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #f2f2f2), color-stop(50%, #5b5758));
  background: linear-gradient(to bottom, #f2f2f2 50%, #5b5758 50%);
}

@media only screen and (max-width: 480px) {
  .page-home .type6-wrapper {
    background: transparent;
    padding: 50px 24px;
  }
}

.page-home .type6-wrapper .itens {
  background: #fff;
  padding: 3vw 2.4vw;
}

@media only screen and (max-width: 480px) {
  .page-home .type6-wrapper .itens {
    padding: 3vw 0;
  }
}

.page-home .videos2-wrapper {
  margin: 0;
}

.page-home .videos2-wrapper .ver-todos a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-home .videos2-wrapper .ver-todos a figure img {
  width: 18px;
}

.page-videos .type3-wrapper {
  background: transparent;
}

.page-videos .type3-wrapper .itens .item {
  width: 50%;
}

@media only screen and (max-width: 480px) {
  .page-videos .type3-wrapper .itens .item {
    width: 100%;
  }
}

.page-videos .type3-wrapper .itens .item img {
  height: 20vw;
}

@media only screen and (max-width: 480px) {
  .page-videos .type3-wrapper .itens .item img {
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  .page-videos .type5-wrapper .itens .item {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) and (max-width: 480px) {
  .page-videos .type5-wrapper .itens .item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2vw;
  }
}

@media only screen and (max-width: 480px) and (max-width: 480px) {
  .page-videos .type5-wrapper .itens .item a img {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) and (max-width: 480px) {
  .page-videos .type5-wrapper .itens .item a .info {
    width: 50%;
  }
}

.page-videos .type7-wrapper {
  padding: 6vw 10vw 0 10vw;
}

@media only screen and (max-width: 480px) {
  .page-videos .type7-wrapper {
    margin: 6vw 0;
  }
}

@media only screen and (max-width: 480px) {
  .page-videos .type7-wrapper .header .titulo {
    font-size: 5vw;
  }
}

.page-videos-interna .videos1-wrapper {
  margin: 2vw 0 0 0;
}

.page-videos-interna .type5-wrapper {
  margin: 4vw 0 0 0;
}

.page-categoria .header .titulo {
  font-size: 48px;
  color: #5b5758;
  font-weight: 600;
  font-family: "Roboto Slab", serif;
}

@media only screen and (max-width: 480px) {
  .page-categoria .header .titulo {
    font-size: 32px;
  }
}

.page-categoria .type3-wrapper {
  background: transparent;
}

.page-categoria .type3-wrapper .header {
  padding: 6vw 10vw 0 10vw;
  color: #5b5758;
}

@media only screen and (max-width: 480px) {
  .page-categoria .type3-wrapper .header {
    padding: 6vw 24px 0 24px;
  }
}

.page-categoria .type3-wrapper .itens {
  padding: 0 10vw;
  margin: 4vw 0 0 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(68.5%, #c2b0ad), color-stop(0%, transparent));
  background: linear-gradient(to bottom, #c2b0ad 68.5%, transparent 0%);
}

@media only screen and (max-width: 1024px) {
  .page-categoria .type3-wrapper .itens {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(35.5%, #c2b0ad), color-stop(0%, transparent));
    background: linear-gradient(to bottom, #c2b0ad 35.5%, transparent 0%);
  }
}

@media only screen and (max-width: 480px) {
  .page-categoria .type3-wrapper .itens {
    padding: 6vw 24px 0 24px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(54.7vw, #c2b0ad), color-stop(0%, transparent));
    background: linear-gradient(to bottom, #c2b0ad 54.7vw, transparent 0%);
  }
}

.page-categoria .type3-wrapper .itens .item {
  width: 50%;
}

@media only screen and (max-width: 480px) {
  .page-categoria .type3-wrapper .itens .item {
    width: 100%;
  }
}

.page-categoria .type3-wrapper .itens .item img {
  height: 20vw;
}

@media only screen and (max-width: 480px) {
  .page-categoria .type3-wrapper .itens .item img {
    width: 100%;
    height: auto;
  }
}

.page-categoria .type2-wrapper {
  margin: 4vw 10vw 0 10vw;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 480px) {
  .page-categoria .type2-wrapper {
    margin: 4vw 0 0 0;
  }
}

.page-categoria .type6-wrapper {
  background: #f2e7c3;
  padding: 5vw 0 4vw 0;
}

@media only screen and (max-width: 480px) {
  .page-categoria .type3a-wrapper {
    background: transparent;
  }
}

.page-doencas-sintomas .header {
  padding: 3vw 10vw 0 10vw;
}

@media only screen and (max-width: 480px) {
  .page-doencas-sintomas .header {
    padding: 20px 24px;
  }
}

.page-doencas-sintomas .header .titulo {
  font-size: 48px;
  color: #5b5758;
  font-weight: 600;
  font-family: "Roboto Slab", serif;
}

@media only screen and (max-width: 480px) {
  .page-doencas-sintomas .header .titulo {
    font-size: 32px;
  }
}

.page-doencas-sintomas .barra-busca {
  padding: 2vw 24px;
  margin: 3.5vw 0 0 0;
  background: #f2f2f2;
}

@media only screen and (max-width: 480px) {
  .page-doencas-sintomas .barra-busca {
    margin: 0;
  }
}

.page-doencas-sintomas .barra-busca .busca {
  width: 100%;
  border: none;
  border-radius: 0.2vw;
  padding: 1.2vw 2vw;
}

@media only screen and (max-width: 480px) {
  .page-doencas-sintomas .barra-busca .busca {
    padding: 1.2vw 4vw;
  }
}

@media only screen and (max-width: 480px) {
  .page-doencas-sintomas .barra-busca .busca img {
    width: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .page-doencas-sintomas .barra-busca .busca input {
    font-size: 18px;
    padding: 1vw 0 0 1.8vw;
  }
}

.page-doencas-sintomas .barra-busca .busca input::-webkit-input-placeholder {
  text-transform: uppercase !important;
}

.page-doencas-sintomas .barra-busca .busca input:-ms-input-placeholder {
  text-transform: uppercase !important;
}

.page-doencas-sintomas .barra-busca .busca input::-ms-input-placeholder {
  text-transform: uppercase !important;
}

.page-doencas-sintomas .barra-busca .busca input::placeholder {
  text-transform: uppercase !important;
}

.page-doencas-sintomas .type3-wrapper {
  background: transparent;
}

.page-doencas-sintomas .type3-wrapper .header {
  padding: 6vw 10vw 0 10vw;
  color: #5b5758;
}

.page-doencas-sintomas .type3-wrapper .itens {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(23.95vw, #c2b0ad), color-stop(0%, transparent));
  background: linear-gradient(to bottom, #c2b0ad 23.95vw, transparent 0%);
}

@media only screen and (max-width: 1024px) {
  .page-doencas-sintomas .type3-wrapper .itens {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(55vw, #c2b0ad), color-stop(0%, transparent));
    background: linear-gradient(to bottom, #c2b0ad 55vw, transparent 0%);
  }
}

.page-doencas-sintomas .type3-wrapper .itens .item {
  width: 50%;
}

@media only screen and (max-width: 480px) {
  .page-doencas-sintomas .type3-wrapper .itens .item {
    width: 100%;
  }
}

.page-doencas-sintomas .type3-wrapper .itens .item img {
  height: 20vw;
}

@media only screen and (max-width: 480px) {
  .page-doencas-sintomas .type3-wrapper .itens .item img {
    width: 100%;
    height: auto;
  }
}

.page-doencas-sintomas .type2-wrapper {
  margin: 4vw 10vw 0 10vw;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 480px) {
  .page-doencas-sintomas .type2-wrapper {
    margin: 4vw 0 0 0;
  }
}

.page-doencas-sintomas .type6-wrapper {
  background: #f2e7c3;
  padding: 5vw 0 4vw 0;
}

@media only screen and (max-width: 480px) {
  .page-doencas-sintomas .type3a-wrapper {
    background: transparent;
  }
}

.page-interna-post .content-wrapper {
  padding: 6vw 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2vw;
}

@media only screen and (max-width: 480px) {
  .page-interna-post .content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 6vw 24px;
  }
}

.page-interna-post .content-wrapper .left-wrapper {
  width: 70%;
}

@media only screen and (max-width: 480px) {
  .page-interna-post .content-wrapper .left-wrapper {
    width: 100%;
  }
}

.page-interna-post .content-wrapper .left-wrapper .titulo-header {
  margin: 0 0 2vw 0;
}

.page-interna-post .content-wrapper .left-wrapper .titulo-header .titulo {
  font-size: 2.2vw;
  color: #5b5758;
  font-weight: 600;
  text-transform: uppercase;
}

@media only screen and (max-width: 480px) {
  .page-interna-post .content-wrapper .left-wrapper .titulo-header .titulo {
    font-size: 29px;
  }
}

.page-interna-post .content-wrapper .left-wrapper .texto-header {
  margin: 0 0 1.5vw 0;
}

.page-interna-post .content-wrapper .left-wrapper .texto-header .texto {
  color: #5b5758;
  font-size: 1.1vw;
  font-weight: 600;
  font-family: "Roboto Slab", serif;
  line-height: 180%;
}

@media only screen and (max-width: 480px) {
  .page-interna-post .content-wrapper .left-wrapper .texto-header .texto {
    font-size: 18px;
  }
}

.page-interna-post .content-wrapper .left-wrapper .autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-interna-post .content-wrapper .left-wrapper .autor img {
  width: 2.5vw;
  height: 2.5vw;
  margin: 0 1vw 0 0;
}

@media only screen and (max-width: 480px) {
  .page-interna-post .content-wrapper .left-wrapper .autor img {
    width: 10vw;
    height: 10vw;
    margin: 2vw 2vw 2vw 0;
  }
}

.page-interna-post .content-wrapper .left-wrapper .autor .nome {
  font-size: 1vw;
  font-weight: 300;
}

@media only screen and (max-width: 480px) {
  .page-interna-post .content-wrapper .left-wrapper .autor .nome {
    font-size: 14px;
  }
}

.page-interna-post .content-wrapper .left-wrapper .videos1-wrapper {
  padding: 0;
  background: transparent;
  margin: 2vw 0 0 0;
}

@media only screen and (max-width: 480px) {
  .page-interna-post .content-wrapper .left-wrapper .videos1-wrapper {
    margin: 50px 0 0 0;
  }
}

.page-interna-post .content-wrapper .left-wrapper .videos1-wrapper .itens {
  margin: 0;
}

.page-interna-post .content-wrapper .left-wrapper .videos1-wrapper .itens .wrapper {
  width: 100%;
}

.page-interna-post .content-wrapper .left-wrapper .videos1-wrapper .itens .wrapper img {
  width: 100%;
}

.page-interna-post .content-wrapper .left-wrapper .videos1-wrapper .compartilhamento-wrapper {
  width: 100%;
  border-color: #5b5758;
  color: #5b5758;
}

.page-interna-post .content-wrapper .left-wrapper .videos1-wrapper .compartilhamento-wrapper .actions .botao {
  border-color: #5b5758;
}

.page-interna-post .content-wrapper .left-wrapper .texto-conteudo {
  margin: 4vw 0 0 0;
  font-size: 1.1vw;
  color: #5b5758;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  line-height: 180%;
}

@media only screen and (max-width: 480px) {
  .page-interna-post .content-wrapper .left-wrapper .texto-conteudo {
    font-size: 18px;
  }
}

.page-interna-post .content-wrapper .right-wrapper {
  width: 30%;
}

@media only screen and (max-width: 480px) {
  .page-interna-post .content-wrapper .right-wrapper {
    width: 100%;
  }
}

.page-interna-post .content-wrapper .right-wrapper .destaque-lateral {
  width: 100%;
  background: transparent;
}

@media only screen and (max-width: 480px) {
  .page-interna-post .content-wrapper .right-wrapper .destaque-lateral {
    padding: 6vw 0;
  }
}

.page-interna-post .content-wrapper .right-wrapper .destaque-lateral .itens-p .item .info {
  width: 60%;
}

.page-colunistas .type8-wrapper {
  margin: 3vw 0 0 0;
}

.page-colunistas .type5-wrapper {
  margin: 4vw 0 0 0;
}

@media only screen and (max-width: 480px) {
  .page-colunistas .type5-wrapper {
    margin: 30px 0 0 0;
  }
}

@media only screen and (max-width: 480px) {
  .page-colunistas .type5-wrapper .itens .item {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) and (max-width: 480px) {
  .page-colunistas .type5-wrapper .itens .item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2vw;
  }
}

@media only screen and (max-width: 480px) and (max-width: 480px) {
  .page-colunistas .type5-wrapper .itens .item a img {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) and (max-width: 480px) {
  .page-colunistas .type5-wrapper .itens .item a .info {
    width: 50%;
  }
}

.rodape {
  padding: 4vw 10vw;
  margin: 10vw 0 0 0;
  background: #5b5758;
}

@media only screen and (max-width: 480px) {
  .rodape {
    padding: 30px 24px;
  }
}

.rodape .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rodape .header .logo {
  width: 12vw;
}

@media only screen and (max-width: 480px) {
  .rodape .header .logo {
    width: 126px;
  }
}

.rodape .header .redes-sociais {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2vw;
}

@media only screen and (max-width: 480px) {
  .rodape .header .redes-sociais {
    gap: 2vw;
  }
}

@media only screen and (max-width: 480px) {
  .rodape .header .redes-sociais img {
    width: 20px;
  }
}

.rodape .busca {
  background: #fff;
  margin: 2vw 0 0 0;
  border-radius: 0;
  width: 100%;
  padding: 1.2vw 2vw;
}

@media only screen and (max-width: 480px) {
  .rodape .busca {
    padding: 1.4vw 4vw;
    margin: 4vw 0;
  }
}

@media only screen and (max-width: 480px) {
  .rodape .busca img {
    width: 20px;
    margin: 0 0 1vw 0;
  }
}

@media only screen and (max-width: 480px) {
  .rodape .busca input {
    font-size: 18px;
    margin: 0 0 0 1vw;
  }
}

.rodape .navegacao {
  padding: 0;
  background: #5b5758;
  border: none;
}

@media only screen and (max-width: 480px) {
  .rodape .navegacao {
    padding: 15px 0;
  }
}

.rodape .navegacao .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0 6vw;
}

@media only screen and (max-width: 480px) {
  .rodape .navegacao .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 0 3vw;
  }
}

.rodape .navegacao .links .link {
  color: #fff;
  font-size: 1.6vw;
  margin: 1vw 0 0 0;
}

@media only screen and (max-width: 480px) {
  .rodape .navegacao .links .link {
    font-size: 18px;
  }
}

.rodape .navegacao .links .destaque {
  color: #f2e7c3;
}

.rodape .copy {
  margin: 4vw 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.rodape .copy .info a {
  color: #fff;
  font-weight: 300;
}

@media only screen and (max-width: 480px) {
  .rodape .copy .info a {
    font-size: 12px;
  }
}

.rodape .copy .info a + a {
  margin: 0 0 0 4vw;
}

.rodape .copy .assinatura img {
  width: 6vw;
}

@media only screen and (max-width: 480px) {
  .rodape .copy .assinatura img {
    width: 50px;
  }
}
/*# sourceMappingURL=estilo.css.map */